Repository autobrr/autobrr, pull requests merged in 2022-04, with the labels that each got.

#208 Indexers add tnetwork
  README.md
  internal/indexer/definitions/torrentnetwork.yaml
Labels: enhancement, indexers

#215 Feature: Postgres support
  cmd/autobrr/main.go
  cmd/autobrrctl/main.go
  internal/action/service.go
  internal/database/action.go
  internal/database/database.go
  internal/database/download_client.go
  internal/database/filter.go
  internal/database/indexer.go
  internal/database/irc.go
  internal/database/migrate.go
  internal/database/postgres.go
  internal/database/release.go
  internal/database/sqlite.go
  internal/database/user.go
  internal/domain/action.go
  internal/domain/client.go
  internal/domain/indexer.go
  internal/domain/irc.go
  internal/domain/release.go
  internal/domain/user.go
  internal/download_client/service.go
  internal/filter/service.go
  internal/http/action.go
  internal/http/download_client.go
  internal/http/indexer.go
  internal/http/irc.go
  internal/http/release.go
  internal/indexer/service.go
  internal/irc/service.go
  internal/release/service.go
Labels: backend, database

#216 Feature: Add notifications
  cmd/autobrr/main.go
  go.mod
  go.sum
  internal/action/run.go
  internal/database/migrate.go
  internal/database/notification.go
  internal/domain/event.go
  internal/domain/notification.go
  internal/domain/release.go
  internal/events/subscribers.go
  internal/http/notification.go
  internal/http/server.go
  internal/notification/discord.go
  internal/notification/service.go
  web/src/api/APIClient.ts
  web/src/domain/constants.ts
  web/src/forms/settings/NotifiactionForms.tsx
  web/src/screens/Settings.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/types/Notification.d.ts
Labels: enhancement, web, backend

#217 fix(notifications): send error and reject events
  internal/action/run.go
  internal/notification/discord.go
Labels: bug, backend, actions

#218 feat(clients): add whisparr
  internal/action/run.go
  internal/action/whisparr.go
  internal/domain/action.go
  internal/domain/client.go
  internal/download_client/connection.go
  pkg/whisparr/client.go
  pkg/whisparr/whisparr.go
  web/src/domain/constants.ts
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/screens/filters/details.tsx
  web/src/types/Download.d.ts
Labels: enhancement, backend, Download client, actions

#219 fix(indexers): emp change irc network
  internal/indexer/definitions/emp.yaml
Labels: bug, backend, indexers, irc

#221 fix(users): use insert instead of update
  internal/database/user.go
Labels: bug, backend, database

#225 refactor: filter and action flow
  cmd/autobrr/main.go
  internal/action/run.go
  internal/action/service.go
  internal/announce/announce.go
  internal/announce/service.go
  internal/database/action.go
  internal/domain/action.go
  internal/domain/event.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/domain/release_test.go
  internal/filter/service.go
  internal/irc/handler.go
  internal/irc/service.go
  internal/notification/discord.go
  internal/release/service.go
  pkg/lidarr/lidarr.go
  pkg/qbittorrent/client.go
  pkg/radarr/radarr.go
  pkg/sonarr/sonarr.go
  pkg/whisparr/whisparr.go
Labels: enhancement, backend, Download client, filters, releases

#226 chore: update react 18 breaking deps
  Dockerfile
  web/package.json
  web/yarn.lock
Labels: build

#227 fix(filter): save only matched releases
  internal/announce/service.go
Labels: backend, filters, releases

#223 feat: add ability to create an account via the webui
  internal/auth/service.go
  internal/database/user.go
  internal/domain/user.go
  internal/http/auth.go
  internal/user/service.go
  web/src/App.tsx
  web/src/api/APIClient.ts
  web/src/components/inputs/input.tsx
  web/src/screens/auth/login.tsx
  web/src/screens/auth/logout.tsx
  web/src/screens/auth/onboarding.tsx
Labels: enhancement, web, backend

#229 fix(database): sqlite disable foreign key check
  internal/database/sqlite.go
Labels: bug, backend, database

#230 fix(indexer): repo get api keys in find
  internal/database/indexer.go
Labels: bug, backend, indexers, database

#235 fix(actions): repo ordering of query args
  internal/database/action.go
Labels: bug, backend, actions, database

#236 enhancement(frontend/logs): added ability to customize logs view
  web/src/screens/Logs.tsx
  web/src/utils/Context.ts
Labels: enhancement, web

#240 feat(http): add healthcheck endpoints liveness and readiness
  cmd/autobrr/main.go
  internal/database/database.go
  internal/http/health.go
  internal/http/server.go
Labels: enhancement, backend, docker

#243 fix(release): edge case resolution parsing
  internal/domain/release.go
  internal/domain/release_test.go
Labels: bug, backend, releases

#241 feat(indexers): add mam
  README.md
  internal/indexer/definitions/myanonamouse.yaml
Labels: enhancement, indexers

#244 build: run ci and build on pr
  .github/workflows/docker.yml
Labels: build

#249 docs: added missing full stops to match the rest of the webui
  web/src/screens/Logs.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/Notifications.tsx
Labels: documentation, web

#250 feat(download-clients): improve errors for starr apps
  pkg/lidarr/client.go
  pkg/lidarr/lidarr.go
  pkg/radarr/client.go
  pkg/radarr/radarr.go
  pkg/radarr/radarr_test.go
  pkg/radarr/testdata/release_push_parse_error.json
  pkg/sonarr/client.go
  pkg/sonarr/sonarr.go
Labels: enhancement, Download client, actions

#251 fix(indexers): use rss download url for hdt
  internal/indexer/definitions/hd-torrents.yaml
Labels: backend, indexers

#254 build(actions): update docker workflow
  .github/workflows/docker.yml
Labels: build

#246 feat: add torznab support
  cmd/autobrr/main.go
  go.mod
  go.sum
  internal/announce/announce.go
  internal/announce/service.go
  internal/database/feed.go
  internal/database/feed_cache.go
  internal/database/indexer.go
  internal/database/migrate.go
  internal/domain/feed.go
  internal/domain/indexer.go
  internal/domain/release.go
  internal/feed/service.go
  internal/feed/torznab.go
  internal/http/feed.go
  internal/http/server.go
  internal/indexer/definitions/torznab_generic.yaml
  internal/indexer/service.go
  internal/irc/handler.go
  internal/irc/service.go
  internal/release/service.go
  internal/scheduler/service.go
  internal/server/server.go
  pkg/torznab/client.go
  web/src/api/APIClient.ts
  web/src/components/emptystates/index.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/screens/Settings.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/types/Feed.d.ts
  web/src/types/Indexer.d.ts
  web/src/utils/index.ts
Labels: enhancement, backend, indexers

#257 Feat: improve release parsing and filtering
  go.mod
  go.sum
  internal/action/macros.go
  internal/action/macros_test.go
  internal/announce/announce.go
  internal/database/filter.go
  internal/database/migrate.go
  internal/database/release.go
  internal/domain/filter.go
  internal/domain/filter_test.go
  internal/domain/indexer.go
  internal/domain/release.go
  internal/domain/release_test.go
  internal/domain/releasetags.go
  internal/domain/releasetags_test.go
  internal/feed/torznab.go
  internal/filter/service.go
  internal/filter/service_test.go
  internal/indexer/definitions/filelist.yaml
  internal/indexer/definitions/hdb.yaml
  web/package.json
  web/src/components/inputs/select.tsx
  web/src/domain/constants.ts
  web/src/screens/filters/details.tsx
  web/src/types/Filter.d.ts
  web/yarn.lock
Labels: enhancement, backend, filters, releases

#258 feat(filters): add regex support
  internal/domain/filter.go
  internal/domain/filter_test.go
  web/src/screens/filters/details.tsx
Labels: enhancement, web, backend, filters
