Repository autobrr/autobrr, pull requests merged in 2022-02, with the labels that each got.

#107 Fix: blank page loading filters
  internal/database/action.go
  internal/database/filter.go
  internal/database/indexer.go
  internal/domain/action.go
  internal/domain/filter.go
  internal/domain/indexer.go
  internal/filter/service.go
  internal/http/filter.go
  internal/indexer/service.go
  web/src/screens/filters/details.tsx
Labels: bug, enhancement, web, backend, filters

#108 refactor: download client addr parsing
  internal/download_client/connection.go
  pkg/lidarr/client.go
  pkg/radarr/client.go
  pkg/radarr/radarr_test.go
  pkg/sonarr/client.go
  web/src/components/inputs/input_wide.tsx
  web/src/forms/settings/DownloadClientForms.tsx
Labels: enhancement, backend, Download client

#105 Indexer: Add DigitalCore
  internal/indexer/definitions/digitalcore.yaml
Labels: enhancement, backend, indexers, irc

#109 fix: filters list wrong status
  web/src/screens/filters/list.tsx
Labels: bug, web, filters

#102 Update most web dependencies
  web/craco.config.js
  web/package.json
  web/postcss.config.js
  web/src/App.tsx
  web/src/index.tsx
  web/src/screens/Dashboard.tsx
  web/src/screens/filters/list.tsx
  web/tailwind.config.js
  web/yarn.lock
Labels: enhancement, web

#111 fix: set theme
  web/src/utils/Context.ts
Labels: bug, enhancement, web

#112 fix: web correct remove button colors
  web/src/components/panels/index.tsx
  web/src/forms/settings/DownloadClientForms.tsx
Labels: bug, enhancement, web

#113 fix: web settings menu icon color
  web/src/screens/Settings.tsx
Labels: bug, enhancement, web

#114 feat: web add more types
  web/src/forms/settings/IndexerForms.tsx
  web/src/types/Action.d.ts
  web/src/types/Download.d.ts
  web/src/types/Filter.d.ts
  web/src/types/Indexer.d.ts
Labels: enhancement, web

#121 fix: empty tmpFile var passed to download client's action
  internal/action/run.go
Labels: bug, backend, Download client

#122 fix: indexers orpheus torrent url
  internal/indexer/definitions/orpheus.yaml
Labels: external-change

#118 Feature: Added ESLint and cleaned up code as necessary
  .gitignore
  web/package.json
  web/src/App.tsx
  web/src/api/APIClient.ts
  web/src/components/inputs/common.tsx
  web/src/components/inputs/input.tsx
  web/src/components/inputs/input_wide.tsx
  web/src/components/inputs/select.tsx
  web/src/components/inputs/switch.tsx
  web/src/domain/react-table-config.d.ts
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/hooks/hooks.ts
  web/src/index.tsx
  web/src/reportWebVitals.ts
  web/src/screens/Dashboard.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Releases.tsx
  web/src/screens/Settings.tsx
  web/src/screens/auth/logout.tsx
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
  web/src/screens/settings/Action.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/RegexPlayground.tsx
  web/src/utils/index.ts
Labels: enhancement, web

#131 build: remove yarn lock
  Dockerfile
  web/yarn.lock
Labels: web, docker, actions

#132 Fix: Handle download failure
  internal/domain/release.go
  internal/filter/service.go
Labels: bug, backend, Download client, filters

#128 Refactor APIClient, clean up code, fix #116
  web/package.json
  web/src/api/APIClient.ts
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/screens/Dashboard.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Releases.tsx
  web/src/screens/auth/login.tsx
  web/src/screens/auth/logout.tsx
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Irc.tsx
Labels: web

#139 fix: pin react-ridge-state
  web/package.json
Labels: bug, web, external-change

#140 fix: improve qbit re-announce
  internal/action/qbittorrent.go
  pkg/qbittorrent/methods.go
Labels: bug, backend, Download client, actions

#144 refactor: download torrent files
  internal/action/qbittorrent.go
  internal/action/run.go
  internal/domain/release.go
  internal/filter/service.go
  internal/release/service.go
Labels: enhancement, backend, Download client, actions

#141 fix(Base): Added missing transition-colors property
  web/src/screens/Base.tsx
Labels: web

#142 feat(FilterItemDropdown): added a filter dropdown component from #26
  web/src/components/inputs/input.tsx
  web/src/components/inputs/switch.tsx
  web/src/components/modals/index.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/index.css
  web/src/screens/Base.tsx
  web/src/screens/Logs.tsx
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
Labels: enhancement, web, filters

#136 feat: releases list filtering
  internal/database/release.go
  internal/domain/release.go
  internal/http/release.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/domain/constants.ts
  web/src/screens/Releases.tsx
Labels: enhancement, web, backend

#146 feat(indexers): add danishbytes
  README.md
  internal/domain/release.go
  internal/indexer/definitions/danishbytes.yaml
Labels: enhancement, backend, indexers

#148 feat: irc reconnect
  go.mod
  go.sum
  internal/domain/irc.go
  internal/irc/handler.go
  internal/irc/service.go
  internal/logger/logger.go
Labels: enhancement, backend, irc

#145 Update Logs.tsx
  web/src/screens/Logs.tsx
Labels: enhancement, web

#150 Indexer: Add RevolutionTT
  README.md
  internal/indexer/definitions/revolutiontt.yaml
Labels: enhancement, backend, indexers, irc

#151 Indexers: Add Norbits
  README.md
  internal/indexer/definitions/norbits.yaml
Labels: enhancement, backend, indexers

#155 feat: qbit add retry and extend timeout
  pkg/qbittorrent/client.go
Labels: enhancement, backend, Download client

#156 feat(indexers): definitions set forcesizeunit
  internal/announce/announce.go
  internal/domain/indexer.go
  internal/domain/release.go
  internal/domain/release_test.go
  internal/indexer/definitions/alpharatio.yaml
Labels: enhancement, backend, indexers
