Repository autobrr/autobrr, pull requests merged in 2022-03, with the labels that each got.

#157 feat(actions): add more macro variables
  internal/action/deluge.go
  internal/action/exec.go
  internal/action/macros.go
  internal/action/macros_test.go
  internal/action/qbittorrent.go
  internal/action/run.go
Labels: enhancement, backend, filters, actions

#159 Refactor: release table-related code and fix for #158
  internal/irc/service.go
  web/src/api/APIClient.ts
  web/src/components/Icons.tsx
  web/src/components/data-table/Buttons.tsx
  web/src/components/data-table/Cells.tsx
  web/src/components/data-table/index.tsx
  web/src/components/emptystates/index.tsx
  web/src/components/panels/index.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/screens/Base.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Releases.tsx
  web/src/screens/Settings.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/dashboard/Stats.tsx
  web/src/screens/dashboard/index.tsx
  web/src/screens/releases/Filters.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/releases/index.tsx
  web/src/screens/settings/Irc.tsx
  web/src/types/Irc.d.ts
  web/src/types/Release.d.ts
Labels: web

#164 build: set version in docker build
  .github/workflows/docker.yml
  Dockerfile
  Makefile
Labels: enhancement, docker, actions

#165 Fix(build): Actions docker build-args
  .github/workflows/docker.yml
  Dockerfile
Labels: docker, actions

#166 feat(filters): add priority
  internal/database/filter.go
  internal/database/migrate.go
  internal/domain/filter.go
  web/src/screens/filters/details.tsx
  web/src/types/Filter.d.ts
Labels: enhancement, web, backend, filters

#167 fix: indexer add default values
  web/src/components/inputs/input_wide.tsx
  web/src/forms/settings/IndexerForms.tsx
Labels: bug, web, indexers, irc

#168 feat(filters): duplicate
  internal/database/filter.go
  internal/domain/filter.go
  internal/filter/service.go
  internal/http/filter.go
  web/src/api/APIClient.ts
  web/src/screens/filters/list.tsx
Labels: enhancement, web, backend, filters

#169 build: goreleaser group changelog
  .goreleaser.yml
Labels: enhancement, build

#170 feat: delete all releases from ui
  internal/database/release.go
  internal/domain/release.go
  internal/http/encoder.go
  internal/http/release.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/screens/Settings.tsx
  web/src/screens/settings/Releases.tsx
Labels: enhancement, web, backend, settings, releases

#173 docker: Add curl to base image
  Dockerfile
Labels: enhancement, docker

#177 fix: No IRC network created when adding a new indexer
  internal/http/encoder.go
  internal/http/irc.go
  internal/http/release.go
  web/src/api/APIClient.ts
  web/src/forms/settings/IndexerForms.tsx
  web/src/types/Irc.d.ts
Labels: bug, web, backend, indexers, irc

#181 feat: download clients skip tls verify option
  internal/action/qbittorrent.go
  internal/database/download_client.go
  internal/database/migrate.go
  internal/domain/client.go
  internal/download_client/connection.go
  internal/download_client/service.go
  internal/http/download_client.go
  pkg/qbittorrent/client.go
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/types/Download.d.ts
Labels: enhancement, web, backend, Download client, actions, settings

#182 fix(actions): dont run in parallel
  internal/action/run.go
Labels: bug, backend, actions

#178 Indexer: Adding Torrent-Syndikat
  internal/indexer/definitions/torrentsyndikat.yaml
Labels: enhancement, backend, indexers

#183 fix: download_client: release Read lock vs RW
  internal/database/download_client.go
Labels: bug, backend

#120 refactor: change back to modernc sqlite db driver
  cmd/autobrrctl/main.go
  go.mod
  go.sum
  internal/database/migrate.go
  internal/database/sqlite.go
Labels: enhancement, backend

#184 feat(actions): add webhook support
  internal/action/run.go
  internal/database/action.go
  internal/database/migrate.go
  internal/database/utils.go
  internal/domain/action.go
  web/src/components/inputs/input.tsx
  web/src/domain/constants.ts
  web/src/screens/filters/details.tsx
  web/src/types/Filter.d.ts
Labels: enhancement, web, backend, actions

#186 feat(indexers): load custom definitions
  cmd/autobrr/main.go
  config.toml
  internal/config/config.go
  internal/domain/config.go
  internal/indexer/service.go
  test/definitions/mock.yaml
Labels: enhancement, backend, indexers

#188 fix(indexers): only load definitions with .yaml ext
  internal/indexer/service.go
Labels: backend, indexers

#189 fix(actions): webhook double escaping with json.marshal
  internal/action/run.go
Labels: bug, backend, actions

#191 fix(irc): run nickserv identify with password only
  internal/irc/handler.go
  internal/irc/service.go
Labels: backend, irc

#192 fix(irc): increase sleep pre join
  internal/irc/handler.go
Labels: backend, irc

#193 fix(irc): irc join cmd channel with password
  internal/irc/handler.go
Labels: backend, irc

#195 feat(irc): allow other channels for idle
  internal/irc/handler.go
Labels: backend, irc

#197 fix(migrations): actions add missing webhook columns
  internal/database/migrate.go
Labels: bug, backend, database

#199 fix(releases): parse case insensitive
  internal/domain/release.go
Labels: enhancement, backend, filters, releases

#200 fix(filters): refetch on update
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
  web/src/screens/releases/ReleaseTable.tsx
Labels: enhancement, web

#204 fix(indexers): update pattern RevTT
  internal/indexer/definitions/revolutiontt.yaml
Labels: bug, backend, indexers

#202 fix(filters): load only active indexers
  internal/database/filter.go
Labels: backend, filters

#205 feat(indexers): add cookie support
  internal/action/run.go
  internal/domain/release.go
  internal/filter/service.go
Labels: enhancement, backend, Download client, indexers, actions, releases

#64 Indexer: Adding TBy
  internal/indexer/definitions/torrentbytes.yaml
Labels: enhancement, backend, indexers

#206 fix(indexers): revtt regex escape
  internal/indexer/definitions/revolutiontt.yaml
Labels: bug, backend, indexers

#201 feat(web): redirect to login on expired cookie
  internal/http/auth.go
  internal/http/middleware.go
  web/src/App.tsx
  web/src/api/APIClient.ts
Labels: enhancement, web, backend

#207 feat: change default port
  config.toml
  docker-compose.yml
  internal/config/config.go
  web/package.json
  web/src/utils/index.ts
Labels: backend, docker, build
