Repository autobrr/autobrr, pull requests merged in 2022-01, with the labels that each got.

#61 Fix(filters): use correct property for tags
  web/src/domain/interfaces.ts
  web/src/screens/filters/details.tsx
Labels: bug, web

#65 Feature: Sort Indexer and IRC pages by name
  internal/database/indexer.go
  internal/database/irc.go
Labels: enhancement, web

#66 Feature: Get size by api for ptp btn and ggn
  cmd/autobrr/main.go
  go.mod
  go.sum
  internal/action/run.go
  internal/action/service.go
  internal/announce/announce.go
  internal/client/http.go
  internal/domain/indexer.go
  internal/domain/release.go
  internal/filter/service.go
  internal/indexer/api.go
  internal/indexer/definitions/btn.yaml
  internal/indexer/definitions/gazellegames.yaml
  internal/indexer/definitions/ptp.yaml
  internal/indexer/service.go
  internal/logger/logger.go
  pkg/btn/btn.go
  pkg/btn/btn_test.go
  pkg/btn/client.go
  pkg/btn/testdata/btn_bad_creds.json
  pkg/btn/testdata/btn_get_torrent_by_id.json
  pkg/btn/testdata/btn_get_user_info.json
  pkg/ggn/ggn.go
  pkg/ggn/ggn_test.go
  pkg/ggn/testdata/ggn_get_by_id_not_found.json
  pkg/ggn/testdata/ggn_get_index.json
  pkg/ggn/testdata/ggn_get_torrent_by_id.json
  pkg/ggn/testdata/ggn_invalid_api_key.json
  pkg/jsonrpc/jsonrpc.go
  pkg/ptp/ptp.go
  pkg/ptp/ptp_test.go
  pkg/ptp/testdata/ptp_get_torrent_by_id.json
Labels: enhancement, backend, indexers

#73 Feature: Show IRC network status in settings list
  go.mod
  go.sum
  internal/domain/indexer.go
  internal/domain/irc.go
  internal/http/irc.go
  internal/irc/handler.go
  internal/irc/service.go
  web/src/screens/Releases.tsx
  web/src/screens/settings/Irc.tsx
Labels: enhancement, web, backend, irc

#76 Fix: IRC network distinguish inactive and error
  internal/irc/handler.go
  web/src/screens/settings/Irc.tsx
Labels: enhancement, web, backend, irc

#78 Feature: Support multi user per irc network
  go.mod
  go.sum
  internal/database/irc.go
  internal/database/sqlite.go
  internal/http/irc.go
  internal/indexer/definitions/hd-torrents.yaml
  internal/indexer/definitions/milkie.yaml
  internal/indexer/definitions/mock1.yaml
  internal/indexer/definitions/mock2.yaml
  internal/indexer/definitions/trancetraffic.yaml
  internal/indexer/service.go
  internal/irc/handler.go
  internal/irc/service.go
  web/src/forms/settings/IndexerForms.tsx
Labels: enhancement, backend, irc

#79 Fix: Save download client json settings
  internal/database/download_client.go
Labels: bug, backend, Download client

#86 Feature: Add HDR filtering
  internal/database/filter.go
  internal/database/migrate.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/domain/release_test.go
  web/src/components/inputs/select.tsx
  web/src/domain/constants.ts
  web/src/domain/interfaces.ts
  web/src/index.css
  web/src/screens/filters/details.tsx
Labels: enhancement, web, backend, filters

#87 Indexers: Add AnimeBytes
  README.md
  internal/domain/release.go
  internal/indexer/definitions/animebytes.yaml
  web/src/domain/constants.ts
Labels: documentation, enhancement, web, backend, indexers

#91 Feat(filters): Add music filters
  internal/database/filter.go
  internal/database/migrate.go
  internal/database/release.go
  internal/database/sqlite.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/domain/release_test.go
  internal/filter/service.go
  internal/indexer/api.go
  internal/indexer/definitions/red.yaml
  pkg/red/red.go
  pkg/red/red_test.go
  pkg/red/testdata/get_index.json
  pkg/red/testdata/get_torrent_by_id.json
  pkg/red/testdata/get_torrent_by_id_not_found.json
  web/src/components/inputs/common.tsx
  web/src/components/inputs/index.ts
  web/src/domain/constants.ts
  web/src/domain/interfaces.ts
  web/src/screens/filters/details.tsx
Labels: enhancement, web, backend, filters

#98 fix(indexers): use torrentsize instead of size
  internal/indexer/definitions/morethantv.yaml
  internal/indexer/definitions/torrentday.yaml
  internal/indexer/definitions/torrentseeds.yaml
Labels: bug, backend, indexers

#97 Indexers: Add TorrentDb
  README.md
  internal/indexer/definitions/torrentdb.yaml
Labels: enhancement, backend, indexers, irc

#95 Indexers: Add HDBits
  README.md
  internal/indexer/definitions/hdb.yaml
Labels: enhancement, backend, indexers, irc

#103 Feat: return action status from arrs
  internal/action/lidarr.go
  internal/action/qbittorrent.go
  internal/action/radarr.go
  internal/action/run.go
  internal/action/sonarr.go
  internal/domain/release.go
  internal/events/subscribers.go
  pkg/lidarr/lidarr.go
  pkg/lidarr/lidarr_test.go
  pkg/radarr/radarr.go
  pkg/radarr/radarr_test.go
  pkg/sonarr/sonarr.go
  pkg/sonarr/sonarr_test.go
  web/src/screens/Releases.tsx
  web/src/types/Release.d.ts
  web/src/utils/index.ts
Labels: enhancement, backend, Download client

#104 refactor(filters): move music sources to media
  internal/database/filter.go
  internal/database/migrate.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/domain/release_test.go
  web/src/domain/constants.ts
  web/src/screens/filters/details.tsx
  web/src/types/Action.d.ts
Labels: bug, enhancement, web, backend, filters
