Repository autobrr/autobrr, pull requests merged in 2022-09, with the labels that each got.

#449 fix(web): fix artist placeholder typo in music filters
  web/src/screens/filters/details.tsx
Labels: web

#457 chore(core): update deps
  go.mod
  go.sum
Labels: enhancement, backend

#458 fix(actions): cross platform file handling
  go.mod
  go.sum
  internal/action/deluge.go
  internal/action/exec.go
  internal/action/rtorrent.go
  internal/action/run.go
  internal/filter/service.go
  internal/notification/discord.go
  internal/notification/telegram.go
  pkg/btn/btn_test.go
  pkg/ggn/ggn.go
  pkg/ggn/ggn_test.go
  pkg/lidarr/lidarr_test.go
  pkg/ptp/ptp.go
  pkg/ptp/ptp_test.go
  pkg/qbittorrent/domain_test.go
  pkg/qbittorrent/methods.go
  pkg/radarr/radarr_test.go
  pkg/red/red.go
  pkg/red/red_test.go
  pkg/sonarr/sonarr_test.go
  pkg/torznab/torznab_test.go
Labels: bug, backend, actions

#459 fix(releases): improve tags parsing
  internal/domain/release.go
  internal/domain/release_test.go
Labels: bug, backend, releases

#464 feat(notifications): add Notifiarr support
  internal/database/notification.go
  internal/domain/notification.go
  internal/notification/notifiarr.go
  internal/notification/service.go
  web/src/domain/constants.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/types/Notification.d.ts
Labels: enhancement, backend, notifications

#465 feat(filters): improve list view with filtering
  internal/database/filter.go
  internal/domain/filter.go
  internal/filter/service.go
  internal/http/filter.go
  web/src/api/APIClient.ts
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
Labels: enhancement, web, backend, filters

#466 feat(irc): improve list view
  internal/http/irc.go
  internal/irc/service.go
  web/package.json
  web/src/api/APIClient.ts
  web/src/components/alerts/ErrorPage.tsx
  web/src/components/alerts/index.tsx
  web/src/components/data-table/Cells.tsx
  web/src/components/emptystates/index.tsx
  web/src/components/fields/text.tsx
  web/src/components/inputs/input.tsx
  web/src/components/inputs/input_wide.tsx
  web/src/components/inputs/select.tsx
  web/src/components/inputs/text.tsx
  web/src/components/modals/index.tsx
  web/src/components/notifications/Toast.tsx
  web/src/components/panels/index.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/Base.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Settings.tsx
  web/src/screens/filters/action.tsx
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
  web/src/screens/releases/Filters.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
  web/yarn.lock
Labels: enhancement, web, backend, irc

#468 fix(actions): qbit seedtime minutes instead of seconds
  web/src/screens/filters/action.tsx
Labels: enhancement, web, actions

#471 fix(notifications): Notifiarr check for valid api key
  internal/notification/notifiarr.go
Labels: bug, backend, notifications

#470 fix(web): TS typings and always active navbar link
  web/src/components/inputs/text.tsx
  web/src/components/panels/index.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/Base.tsx
Labels: web

#472 fix(clients): rtorrent use `directory` instead of `base_path`
  internal/action/rtorrent.go
Labels: bug, backend, Download client

#473 fix(web): indexer options stale caching
  web/src/screens/filters/list.tsx
Labels: web
