Repository autobrr/autobrr, pull requests merged in 2023-11, with the labels that each got.

#1174 feat(sqlite): implement query planner
  internal/database/database.go
  internal/database/sqlite.go
Labels: backend, database, sqlite, optimization

#1245 feat(database): postgres set ssl mode
  internal/config/config.go
  internal/database/database.go
  internal/domain/config.go
Labels: backend, database, postgres, config

#1256 feat(indexers): update base url for Milkie
  internal/indexer/definitions/milkie.yaml
Labels: backend, indexers, irc, definitions

#1251 feat(go): implement cpu quota detection
  cmd/autobrr/main.go
  go.mod
  go.sum
Labels: backend, optimization

#1248 refactor: streamline shutdown signal handling
  cmd/autobrr/main.go
Labels: enhancement, backend, optimization

#1253 feat(tests): verify external autobrr.com URLs
  test/docs/docs_test.go
Labels: documentation, enhancement, testing

#1254 fix(filters): external webhook remove jitter
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/filter/service.go
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/External.tsx
  web/src/screens/filters/List.tsx
  web/src/types/Filter.d.ts
Labels: backend, filters, webhook

#1239 feat(irc): log connection errors
  internal/irc/handler.go
Labels: backend, irc, logs

#1255 feat(indexers): add SugoiMusic
  internal/indexer/definitions/sugoimusic.yaml
Labels: backend, indexers, irc, definitions

#1098 chore: Add CODE_OF_CONDUCT
  .dockerignore
  CODE_OF_CONDUCT.md
Labels: documentation, external-change

#1262 docs: readme improvements and additions
  README.md
Labels: documentation

#1118 feat(database): setup integration tests
  .github/workflows/release.yml
  docker-compose.yml
  internal/database/action.go
  internal/database/action_test.go
  internal/database/api_test.go
  internal/database/database.go
  internal/database/database_test.go
  internal/database/download_client.go
  internal/database/download_client_test.go
  internal/database/feed.go
  internal/database/feed_cache.go
  internal/database/feed_cache_test.go
  internal/database/feed_test.go
  internal/database/filter.go
  internal/database/filter_test.go
  internal/database/indexer_test.go
  internal/database/irc.go
  internal/database/irc_test.go
  internal/database/notification.go
  internal/database/notification_test.go
  internal/database/release.go
  internal/database/release_test.go
  internal/database/sqlite.go
  internal/database/user.go
  internal/database/user_test.go
  internal/domain/user.go
Labels: backend, database, testing, ci, go

#1267 fix(codeql): empty node cache error
  .github/workflows/codeql.yml
Labels: build, ci

#1243 feat(feeds): add force run
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/service.go
  internal/feed/torznab.go
  internal/http/feed.go
  web/src/api/APIClient.ts
  web/src/components/modals/index.tsx
  web/src/components/panels/index.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/screens/settings/Feed.tsx
Labels: enhancement, web, backend, feeds, api

#1259 fix(indexers): animebytes parsing
  internal/indexer/definition_test.go
  internal/indexer/definitions/animebytes.yaml
Labels: backend, indexers, irc, definitions

#963 build: build rpm and deb
  .github/workflows/release.yml
  .goreleaser.yml
Labels: build, ci

#1261 refactor(config): copylocks and staticcheck findings
  internal/config/config.go
  internal/config/config_test.go
Labels: go, optimization

#1268 docs: add coc to readme
  README.md
Labels: documentation

#1250 fix(filters): validate external filters
  web/src/screens/filters/Details.tsx
Labels: web, filters, webhook

#995 fix(config): load from env vars
  internal/config/config.go
Labels: bug, backend, config

#1234 enhancement(web): releases description for narrow screens
  web/src/screens/Releases.tsx
Labels: web, releases, cosmetic

#1214 fix(indexers): toggle state
  internal/domain/indexer.go
  internal/indexer/service.go
  web/src/screens/settings/Indexer.tsx
Labels: bug, web, backend, indexers, settings

#1271 build(deps): bump pnpm to 8.10.5
  web/package.json
Labels: build, ci

#1274 fix(web): revert package versions causing errors
  web/package.json
  web/pnpm-lock.yaml
Labels: bug, web, dependencies

#1246 feat(irc): support optional bot mode
  internal/database/irc.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/irc.go
  internal/irc/handler.go
  internal/irc/service.go
  web/src/forms/settings/IrcForms.tsx
  web/src/types/Irc.d.ts
Labels: backend, irc, database, database-migrations

#1270 fix(web): improve responsiveness on settings pages
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Notifications.tsx
Labels: web, Download client, feeds, notifications, cosmetic

#1278 feat(filters): auto-expand used sections
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/sections/Advanced.tsx
Labels: enhancement, web, filters

#1275 fix(filters): could not delete filter without actions
  internal/database/action.go
  internal/database/action_test.go
Labels: bug, backend, filters, database
