Repository autobrr/autobrr, pull requests merged in 2023-08, with the labels that each got.

#1028 ci: enable dependabot
  .github/dependabot.yml
Labels: build, ci

#1039 chore(deps): bump go packages
  go.mod
  go.sum
Labels: backend, ci, dependencies

#1042 ci: dependabot back-off scheduled runs
  .github/dependabot.yml
Labels: build, ci

#1043 fix(vite): update code for updated dependencies
  web/package.json
  web/pnpm-lock.yaml
  web/src/forms/settings/IrcForms.tsx
  web/src/index.css
  web/src/index.tsx
  web/src/screens/filters/Action.tsx
  web/vite.config.ts
Labels: web, build, ci

#1035 fix(indexers): IRC URL for Sharewood
  internal/indexer/definitions/sharewood.yaml
Labels: indexers, irc, definitions

#1030 feat(filters): add support for multiple external filters
  internal/action/service.go
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/release.go
  internal/database/sqlite_migrate.go
  internal/domain/error.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/filter/service.go
  internal/http/filter.go
  internal/release/service.go
  web/src/domain/constants.ts
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/External.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, filters, actions, database, api

#1027 fix(web): potentially unsafe external links
  web/src/screens/Base.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/Feed.tsx
Labels: web

#1049 fix(filters): store and update with no external filters
  internal/database/action.go
  internal/database/download_client.go
  internal/database/feed_cache.go
  internal/database/filter.go
  internal/database/irc.go
  internal/database/release.go
  internal/database/user.go
  internal/domain/action.go
  internal/domain/filter.go
  internal/filter/service.go
  internal/http/filter.go
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/External.tsx
  web/src/types/Filter.d.ts
Labels: backend, filters, api, definitions, postgres

#1051 fix(actions): missing data on retry
  internal/database/action.go
  internal/database/release.go
Labels: backend, Download client, actions, releases, database

#1052 fix(filters): replace newline with comma
  internal/filter/service.go
Labels: backend, filters

#1054 fix(indexers): MTV announce regex pattern
  internal/indexer/definitions/morethantv.yaml
Labels: backend, indexers, irc, definitions

#1053 fix(indexers): remove nickserv options for AlphaRatio
  internal/indexer/definitions/alpharatio.yaml
Labels: backend, indexers, irc, definitions

#1063 feat(indexers): support improved ANT announce
  internal/indexer/definitions/ant.yaml
Labels: backend, indexers, external-change, definitions

#1034 build(docker): improve cache on web-builder stage
  Dockerfile
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.js
Labels: docker, build, ci

#1029 feat(filters): log external filter exec cmd output
  internal/filter/service.go
Labels: backend, actions, logs
