Repository autobrr/autobrr, pull requests merged in 2023-06, with the labels that each got.

#967 fix(indexers): enthralled IRC network
  internal/indexer/definitions/enthralled.yaml
Labels: indexers, irc, definitions

#971 fix(indexers): update mtv network for consistency
  internal/indexer/definitions/morethantv.yaml
Labels: indexers, irc, definitions

#968 feat(indexers): add Sharewood
  internal/indexer/definitions/sharewood.yaml
Labels: indexers, irc, definitions

#982 feat(indexers): add TorrentSectorCrew
  internal/indexer/definitions/tsc.yaml
Labels: indexers, definitions

#983 feat(indexers): add freeleech support for TS
  internal/indexer/definitions/torrentseeds.yaml
Labels: indexers, definitions

#978 feat(downloadclients): Porla support preset
  internal/action/porla.go
  pkg/porla/client.go
  pkg/porla/domain.go
  web/src/screens/filters/action.tsx
Labels: backend, Download client, actions

#950 feat(releases): torrent file downloads improve error handling
  internal/domain/release.go
  internal/domain/release_test.go
Labels: enhancement, backend, releases

#951 feat(irc): add bouncer/znc support
  internal/database/irc.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/irc.go
  internal/irc/handler.go
  internal/irc/service.go
  web/src/forms/settings/IrcForms.tsx
  web/src/types/Irc.d.ts
Labels: web, backend, indexers, irc, database

#986 fix(irc): panic when creating indexer with irc
  internal/database/irc.go
  internal/domain/irc.go
  internal/irc/service.go
Labels: bug, backend, irc

#987 fix(irc): view channel history
  internal/irc/handler.go
  internal/irc/service.go
  web/src/screens/settings/Irc.tsx
Labels: bug, backend, irc

#990 fix(irc): urlencode SSEKey for SSE streams
  internal/irc/service.go
  web/src/screens/settings/Irc.tsx
Labels: bug, web, irc

#988 chore(web): update package.json and pkgs
  web/package.json
  web/pnpm-lock.yaml
Labels: web, build, ci

#991 feat(filter): add rejection on invalid size set
  internal/domain/filter.go
Labels: backend, filters, logs

#999 chore: update pkg
  go.mod
  go.sum
Labels: backend

#1000 fix(actions): replay watch dir and exec cmd
  internal/database/action.go
Labels: bug, backend, actions, releases
