Repository autobrr/autobrr, pull requests merged in 2023-09, with the labels that each got.

#1071 feat(feeds): clear feed cache
  internal/database/feed_cache.go
  internal/feed/service.go
  internal/http/feed.go
  web/src/api/APIClient.ts
  web/src/screens/settings/Feed.tsx
Labels: web, backend, settings, feeds, api

#1070 fix(web): typo on NotFound page
  web/src/components/alerts/NotFound.tsx
Labels: web

#1067 build(deps): bump pnpm
  web/package.json
Labels: build, dependencies

#1062 fix(indexers): update iPlay IRC port
  internal/indexer/definitions/iplay.yaml
Labels: backend, indexers, external-change, definitions

#1069 fix(web): autoscrolling for Logs page
  web/src/screens/Logs.tsx
Labels: bug, web, cosmetic, logs

#1066 enhancement(web): IRC logs view
  web/src/components/Checkbox.tsx
  web/src/screens/settings/Irc.tsx
Labels: web, irc, settings, cosmetic, logs

#1073 feat(feeds): add scheduled cleanup
  internal/database/feed_cache.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/feed.go
  internal/feed/cleanup.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/service.go
  internal/feed/torznab.go
  internal/indexer/service.go
  internal/scheduler/service.go
Labels: backend, database, feeds, api, postgres

#1074 feat(feeds): show next run
  internal/domain/feed.go
  internal/feed/service.go
  web/src/screens/settings/Feed.tsx
  web/src/types/Feed.d.ts
Labels: web, backend, settings, feeds

#1076 ci: back-off Dependabot to monthly due to spam
  .github/dependabot.yml
Labels: build, ci

#1080 feat(macros): add SizeString DownloadURL and InfoURL
  internal/action/deluge.go
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/sabnzbd.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  internal/announce/announce.go
  internal/database/release.go
  internal/domain/macros.go
  internal/domain/macros_test.go
  internal/domain/release.go
  internal/domain/release_test.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/rss_test.go
  internal/feed/torznab.go
Labels: backend, filters, actions, releases

#1081 feat(downloadclient): set downloadClientId for arr clients
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/run.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  internal/database/action.go
  internal/database/download_client.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/action.go
  internal/domain/client.go
  internal/release/service.go
  pkg/lidarr/lidarr.go
  pkg/radarr/radarr.go
  pkg/readarr/readarr.go
  pkg/sonarr/sonarr.go
  pkg/whisparr/whisparr.go
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/screens/filters/Action.tsx
  web/src/types/Download.d.ts
  web/src/types/Filter.d.ts
Labels: web, backend, Download client, actions, settings, releases, database, api

#1040 ci: build Goreleaser binaries on windows
  .github/workflows/release.yml
Labels: build, ci

#1075 feat(notifications): add Size to Discord notification
  internal/notification/discord.go
Labels: backend, notifications

#1082 build(deps): bump go-deluge to v1.1.0
  go.mod
  go.sum
Labels: backend, dependencies

#1083 feat(downloadclients): arrs increase timeout for release/push
  pkg/lidarr/lidarr.go
  pkg/radarr/radarr.go
  pkg/readarr/readarr.go
  pkg/sonarr/sonarr.go
  pkg/whisparr/whisparr.go
Labels: backend, Download client, actions

#1086 ci: goreleaser lower parallelism to mitigate OOM issues
  .github/workflows/release.yml
Labels: build, ci

#1090 feat(indexers): DigitalCore support tags
  internal/indexer/definitions/digitalcore.yaml
Labels: backend, indexers, irc, definitions

#1092 fix(releases): use case-insensitive searching
  internal/database/release.go
Labels: web, backend, releases, database

#1094 enhancement(web): improve functionality of utility components
  web/package.json
  web/pnpm-lock.yaml
  web/src/index.tsx
  web/src/utils/index.ts
Labels: web

#1087 enhancement(web): improve font loading performance and avoid page reflow
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.js
  web/public/Inter.var.woff2
  web/src/index.css
  web/src/index.tsx
  web/vite.config.ts
Labels: enhancement, web

#1096 feat(logs): show full log event
  cmd/autobrr/main.go
  internal/irc/handler.go
  internal/logger/logger.go
  internal/logger/sse_writer.go
  internal/logger/ssehook.go
  web/src/screens/Logs.tsx
Labels: web, backend, api, logs

#1089 enhancement(web): add react suspense, fix broken stuff, clean up code, improve DX
  web/src/App.tsx
  web/src/components/SectionLoader.tsx
  web/src/components/header/Header.tsx
  web/src/components/header/LeftNav.tsx
  web/src/components/header/MobileNav.tsx
  web/src/components/header/RightNav.tsx
  web/src/components/header/_shared.ts
  web/src/components/header/index.tsx
  web/src/components/modals/index.tsx
  web/src/components/panels/index.tsx
  web/src/domain/routes.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/screens/Base.tsx
  web/src/screens/Settings.tsx
  web/src/screens/filters/Action.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/External.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Releases.tsx
  web/src/utils/Context.ts
Labels: enhancement, web, settings, cosmetic

#1093 enhancement(web): modernize APIClient and improve robustness
  web/src/api/APIClient.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/types/Notification.d.ts
Labels: web

#1038 feat(config): check for updates reading from config
  internal/http/server.go
  web/src/components/header/Header.tsx
  web/src/screens/settings/Application.tsx
Labels: backend, settings, api

#1095 enhancement(web): layout improvements
  web/src/screens/Dashboard.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Releases.tsx
  web/src/screens/Settings.tsx
  web/src/screens/dashboard/Stats.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Releases.tsx
Labels: web

#1065 fix(web): implement offline detection
  web/.eslintrc.js
  web/src/App.tsx
  web/src/api/APIClient.ts
  web/src/components/alerts/ErrorPage.tsx
Labels: web, backend, api

#1088 fix(web): removal of service worker
  web/vite.config.ts
Labels: bug, web

#1100 fix(web): actions ratio limit support decimal values
  web/src/components/inputs/input.tsx
  web/src/screens/filters/Action.tsx
Labels: bug, web

#1102 fix(web): floating "Import filter" dropdown button
  web/src/screens/filters/List.tsx
Labels: bug, web, filters

#1103 fix(web): improve initial context state
  web/src/utils/Context.ts
Labels: bug, web

#1104 fix(web): slideover propagation bug
  web/src/components/panels/index.tsx
Labels: bug, web

#1110 ci: fix docker metadata to parse semver tags
  .github/workflows/release.yml
Labels: docker, ci, github_actions

#1105 fix(web): cant update from settings panels
  web/src/components/panels/index.tsx
  web/src/screens/settings/Irc.tsx
Labels: bug, web

#1111 fix(web): Add and update Indexer tooltips
  web/src/forms/settings/IndexerForms.tsx
Labels: bug, web

#1106 fix(releases): improve search keyword specifiers
  internal/database/release.go
Labels: backend, releases

#1112 enhancement(web): disable background scroll when IRC fullscreen view is active
  web/src/screens/settings/Irc.tsx
Labels: enhancement, web

#1115 ci(docker): change docker metadata tag to `{{raw}}` from `{{version}}`
  .github/workflows/release.yml
Labels: docker, build, ci

#1116 chore(deps): update go-qbittorrent to v1.3.4
  go.mod
  go.sum
Labels: backend, Download client, external-change, external bug

#1127 feat(indexers): add ReeFflix
  internal/indexer/definitions/reelflix.yaml
Labels: indexers, Feature request, definitions

#1119 fix(downloadclient): Porla remove flags property
  pkg/porla/domain.go
Labels: backend, Download client, external-change, actions, settings

#1137 feat(indexers): IRC do not require auth for irc.rizon.net
  internal/indexer/definitions/subsplease.yaml
  internal/indexer/definitions/tokyotoshokan.yaml
Labels: indexers, definitions

#1140 feat(indexers): add Bemaniso
  internal/indexer/definitions/bemaniso.yaml
Labels: indexers, definitions

#1134 fix(http): do not send null for empty arrays
  internal/database/indexer.go
  internal/irc/service.go
Labels: backend, api

#1133 fix(web): Inter font
  web/index.html
  web/public/Inter-Variable.woff2
  web/public/Inter.var.woff2
  web/vite.config.ts
Labels: bug, web

#1132 feat(web): add autodl-irssi filter import
  web/src/components/modals/index.tsx
  web/src/components/tooltips/CustomTooltip.tsx
  web/src/screens/filters/Importer.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/filters/_configParser.ts
  web/src/screens/filters/_const.ts
Labels: enhancement, web, filters, Feature request

#1143 feat(notifications): Pushover add size
  internal/notification/pushover.go
Labels: backend, notifications

#1144 feat(indexers): add TorrentHR
  internal/indexer/definitions/torrenthr.yaml
Labels: backend, indexers, irc, definitions

#1145 feat(web): show more app info
  internal/http/config.go
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/Logs.tsx
  web/src/types/Config.d.ts
Labels: web, backend, settings, api

#1152 fix(indexers): SubsPlease parse line pattern
  internal/indexer/definitions/subsplease.yaml
Labels: bug, indexers, definitions

#1149 fix(filters): importer
  .github/images/autobrr-front.png
  .github/images/front-dark.png
  .github/images/front-light.png
  README.md
  web/src/screens/filters/Importer.tsx
Labels: bug, documentation, web, filters

#1148 feat(notifications): Telegram display file size
  internal/notification/telegram.go
Labels: enhancement, backend, notifications

#1146 fix(indexers): API get torrent check for nil body
  internal/indexer/api.go
Labels: backend, indexers, indexer-api

#1026 chore(build): enable CodeQL
  .github/workflows/codeql.yml
  internal/database/release.go
  web/src/api/APIClient.ts
  web/src/hooks/hooks.ts
  web/src/screens/filters/_configParser.ts
Labels: build, ci
