Repository autobrr/autobrr, pull requests merged in 2023-04, with the labels that each got.

#804 fix(filters): add fallback for clipboard api on http
  web/src/screens/filters/list.tsx
Labels: bug, web, filters

#808 feat(indexers): add TheDarkCommunity
  internal/indexer/definitions/thedarkcommunity.yaml
Labels: enhancement, backend, indexers, irc

#814 docs: update README.md
  README.md
Labels: documentation

#787 refactor(web): migrate create-react-app to vite
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  internal/http/server.go
  web/.eslintrc.js
  web/README.md
  web/build.go
  web/index.html
  web/package.json
  web/postcss.config.js
  web/src/domain/routes.tsx
  web/src/react-app-env.d.ts
  web/src/vite-env.d.ts
  web/tsconfig.json
  web/vite.config.ts
  web/yarn.lock
Labels: web, backend, build

#823 refactor(web): migrate create-react-app to vite
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  internal/http/server.go
  web/.eslintrc.js
  web/.gitignore
  web/README.md
  web/build.go
  web/dist/.gitkeep
  web/index.html
  web/package.json
  web/postcss.config.js
  web/src/domain/routes.tsx
  web/src/react-app-env.d.ts
  web/src/utils/index.ts
  web/src/vite-env.d.ts
  web/tsconfig.json
  web/vite.config.ts
  web/yarn.lock
Labels: enhancement, web, backend, build

#824 fix(web): PasswordField eye icon alignment
  web/src/components/inputs/input.tsx
Labels: web

#809 feat(logs): webhook sanitization
  internal/http/logs.go
  internal/http/logs_sanitize_test.go
Labels: enhancement, backend, logs

#803 feat(filters): improve RegexField validation
  web/src/components/inputs/input.tsx
  web/src/components/tooltips/CustomTooltip.tsx
Labels: bug, web, filters

#811 fix(web): numberfield changing while scrolling
  web/src/components/inputs/input.tsx
  web/src/components/inputs/input_wide.tsx
Labels: enhancement, web

#812 fix(web): RegexField add padding
  web/src/components/inputs/input.tsx
Labels: web, filters, cosmetic

#820 fix(web): auth bad login flash
  web/src/api/APIClient.ts
Labels: web, api

#810 feat(filters): add match logic for tags and except tags
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/domain/filter_test.go
  web/src/components/inputs/select.tsx
  web/src/domain/constants.ts
  web/src/screens/filters/details.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, filters, database, api

#828 fix(settings): indexer forms disable autocomplete in TexField
  web/src/components/inputs/input_wide.tsx
  web/src/forms/settings/IndexerForms.tsx
Labels: web

#832 fix(indexers): OPS parsing
  internal/indexer/definitions/orpheus.yaml
Labels: backend, indexers, irc

#833 fix(web): explanation of freeleech options
  web/src/screens/filters/details.tsx
Labels: web, filters

#818 feat(indexers): add Tokyo Toshokan
  internal/indexer/definitions/tokyotoshokan.yaml
Labels: backend, indexers

#837 fix(indexers): polishsource downloads
  internal/domain/release.go
  internal/indexer/definitions/polishsource.yaml
Labels: backend, indexers, releases

#836 fix(web): make log files section responsive
  web/src/screens/Logs.tsx
Labels: web

#838 feat(indexers): add iAnon
  internal/indexer/definitions/ianon.yaml
Labels: backend, indexers, irc

#829 feat(indexers): test API from settings
  internal/domain/indexer.go
  internal/filter/service.go
  internal/http/indexer.go
  internal/indexer/api.go
  internal/indexer/service.go
  internal/mock/indexer_api.go
  pkg/btn/btn.go
  pkg/btn/btn_test.go
  pkg/btn/client.go
  pkg/ggn/ggn.go
  pkg/ggn/ggn_test.go
  pkg/ptp/ptp.go
  pkg/ptp/ptp_test.go
  pkg/red/red.go
  pkg/red/red_test.go
  web/src/api/APIClient.ts
  web/src/components/panels/index.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/types/Indexer.d.ts
Labels: web, backend, indexers, filters, api, testing

#842 fix(web): reset global state after logout
  web/src/domain/routes.tsx
  web/src/screens/Base.tsx
  web/src/screens/auth/logout.tsx
Labels: bug, web

#841 fix(notifications): test handle unsupported type
  internal/notification/service.go
Labels: backend, notifications

#844 fix(indexers): test API button
  web/index.html
  web/src/App.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/Base.tsx
  web/src/screens/auth/login.tsx
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Logs.tsx
  web/src/screens/settings/Releases.tsx
Labels: bug, web

#843 fix(web): unrecoverable unauthorized error
  web/src/screens/auth/login.tsx
Labels: bug, web

#791 fix(web): propagation bug with slide panel focus
  .gitignore
  web/package.json
  web/src/App.tsx
  web/yarn.lock
Labels: bug, web

#845 feat(web): add not found page
  web/src/components/alerts/NotFound.tsx
  web/src/domain/routes.tsx
Labels: web

#847 enhancement(web): log download spinner icon
  web/src/components/Icons.tsx
  web/src/screens/Logs.tsx
Labels: web, cosmetic

#848 fix(onboarding): could not create user
  cmd/autobrrctl/main.go
  internal/auth/service.go
  internal/database/user.go
  internal/domain/user.go
  internal/http/action.go
  internal/http/apikey.go
  internal/http/auth.go
  internal/http/download_client.go
  internal/http/encoder.go
  internal/http/feed.go
  internal/http/filter.go
  internal/http/indexer.go
  internal/http/irc.go
  internal/http/notification.go
  internal/http/release.go
  internal/user/service.go
Labels: bug, backend, api

#859 build: make ci 2-3x faster
  .github/workflows/release.yml
  ci.Dockerfile
  web/.yarnrc.yml
Labels: build

#863 feat(macros): add Category and Categories
  internal/domain/macros.go
Labels: backend, filters, actions

#869 build: do not push container images from forks
  .github/workflows/release.yml
Labels: build

#872 feat(releases): set freeleech percent 100 with freeleech bool
  internal/domain/release.go
  internal/domain/release_test.go
Labels: backend, filters, releases

#879 fix(indexers): TorrentNetwork settings crash
  internal/indexer/definitions/torrentnetwork.yaml
Labels: backend, indexers, definitions

#862 fix(indexers): OPS new announce format
  internal/announce/announce.go
  internal/indexer/definitions/orpheus.yaml
  web/src/domain/constants.ts
Labels: bug, backend, indexers

#873 build: only push docker images for autobrr org
  .github/workflows/release.yml
Labels: build

#868 refactor(web): replace pkg `react-query` with `tanstack/react-query`
  .github/workflows/release.yml
  web/package.json
  web/src/App.tsx
  web/src/api/APIClient.ts
  web/src/components/alerts/NotFound.tsx
  web/src/components/data-table/Buttons.tsx
  web/src/components/data-table/Cells.tsx
  web/src/components/debug.tsx
  web/src/components/fields/text.tsx
  web/src/components/inputs/common.tsx
  web/src/components/inputs/input.tsx
  web/src/components/inputs/input_wide.tsx
  web/src/components/inputs/radio.tsx
  web/src/components/inputs/select.tsx
  web/src/components/inputs/select_wide.tsx
  web/src/components/inputs/switch.tsx
  web/src/components/inputs/text.tsx
  web/src/components/notifications/Toast.tsx
  web/src/components/panels/index.tsx
  web/src/components/tooltips/Tooltip.tsx
  web/src/domain/constants.ts
  web/src/domain/routes.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/Base.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Settings.tsx
  web/src/screens/auth/login.tsx
  web/src/screens/auth/onboarding.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/dashboard/Stats.tsx
  web/src/screens/filters/action.tsx
  web/src/screens/filters/details.tsx
  web/src/screens/filters/list.tsx
  web/src/screens/releases/Filters.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Logs.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/Releases.tsx
  web/src/utils/Context.ts
  web/tsconfig.json
  web/vite.config.ts
  web/yarn.lock
Labels: web

#839 fix(release): cleanup temporary torrent files
  internal/domain/release.go
  internal/release/service.go
Labels: backend, actions, releases

#598 feat(notifications): add Pushover
  README.md
  internal/database/notification.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/notification.go
  internal/http/notification.go
  internal/notification/pushover.go
  internal/notification/service.go
  web/src/domain/constants.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/types/Notification.d.ts
Labels: enhancement, backend, notifications

#883 fix(releases): max downloads per hour
  internal/action/run.go
  internal/database/filter.go
  internal/database/release.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/filter/service.go
  internal/release/service.go
Labels: bug, backend, filters, releases, database

#886 feat(indexers): iAnon parse category and freeleech
  internal/indexer/definitions/ianon.yaml
Labels: indexers, irc, definitions

#889 chore(web): add clarifying information for feeds.
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
Labels: documentation, web, feeds

#793 feat(web): make PWA compatible with Vite
  web/index.html
  web/package.json
  web/public/apple-touch-icon-ipad-76x76.png
  web/public/apple-touch-icon-ipad-retina-152x152.png
  web/public/apple-touch-icon-iphone-60x60.png
  web/public/apple-touch-icon-iphone-retina-120x120.png
  web/public/favicon.ico
  web/public/logo192.png
  web/public/logo512.png
  web/public/manifest.json
  web/public/robots.txt
  web/vite.config.ts
  web/yarn.lock
Labels: web

#891 fix(downloadclients): remove from filter actions on delete
  internal/database/action.go
  internal/database/download_client.go
  internal/domain/action.go
Labels: bug, backend, Download client, filters, actions, database
