Repository autobrr/autobrr, pull requests merged in 2023-12, with the labels that each got.

#1272 refactor(filters): move rejections from release to filter
  internal/database/filter.go
  internal/domain/filter.go
  internal/domain/filter_test.go
  internal/filter/service.go
  internal/release/service.go
Labels: backend, filters

#1296 fix(config): log level change causes panic
  internal/config/config.go
Labels: backend, config

#1269 fix(irc): improve IRC handler management
  go.mod
  go.sum
  internal/irc/handler.go
  internal/irc/service.go
  web/src/screens/settings/Irc.tsx
Labels: web, backend, irc, settings

#1294 fix(config): PostgresExtraParams struct tag
  internal/domain/config.go
Labels: backend, config

#1293 refactor(filters): optimize assignment to allocation
  internal/database/filter.go
Labels: backend, filters, database, optimization

#1282 feat(releases): incognito mode
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/utils/index.ts
Labels: enhancement, web, cosmetic

#1284 feat(notifications): add LunaSea support
  internal/domain/notification.go
  internal/notification/gotify.go
  internal/notification/lunasea.go
  internal/notification/message_builder.go
  internal/notification/pushover.go
  internal/notification/service.go
  internal/notification/telegram.go
  web/src/components/inputs/input_wide.tsx
  web/src/domain/constants.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/_components.tsx
  web/src/types/Notification.d.ts
Labels: enhancement, web, notifications

#1276 build(web): bump vite and cjs node api refactor
  .dockerignore
  web/.eslintrc.cjs
  web/.eslintrc.js
  web/README.md
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.cjs
  web/src/api/APIClient.ts
  web/src/components/Icons.tsx
  web/src/components/alerts/ErrorPage.tsx
  web/src/components/alerts/index.tsx
  web/src/components/data-table/index.tsx
  web/src/components/debug.tsx
  web/src/components/inputs/input.tsx
  web/src/components/panels/index.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/index.tsx
  web/src/screens/Logs.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/filters/_configParser.ts
  web/src/screens/filters/sections/Actions.tsx
  web/src/screens/filters/sections/External.tsx
  web/src/screens/filters/sections/_components.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
  web/tailwind.config.ts
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Labels: web, dependencies

#1304 feat(filters): show enabled and disabled actions in list view
  .gitignore
  internal/action/service.go
  internal/database/action.go
  internal/database/action_test.go
  internal/database/filter.go
  internal/domain/action.go
  internal/domain/filter.go
  internal/filter/service.go
  internal/release/service.go
  web/src/screens/filters/List.tsx
  web/src/types/Filter.d.ts
Labels: enhancement, web, backend, api

#1309 fix(actions): qBit handle `Ignore slow torrents` rule correctly when disabled
  internal/action/qbittorrent.go
Labels: backend, Download client, qBittorrent

#1312 enchancement(web): IRC settings layout
  web/src/screens/settings/Irc.tsx
Labels: web, irc, settings, cosmetic

#1306 fix(http): specify ip stack when listen fails
  internal/http/server.go
Labels: backend, api

#1273 build(ci): integrate ESLint with CodeQL
  .github/workflows/eslint.yml
  .gitignore
  web/package.json
  web/pnpm-lock.yaml
Labels: web, build, ci, github_actions

#1314 fix(web): improve tooltip responsiveness and click-through
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/tooltips/Tooltip.tsx
Labels: bug, web

#1302 refactor(indexers): ANT improve freeleech support
  internal/indexer/definitions/ant.yaml
Labels: backend, indexers, irc, definitions

#1281 feat(web): link Dashboard stats to Releases page
  internal/database/release.go
  internal/domain/release.go
  web/src/components/data-table/Cells.tsx
  web/src/components/data-table/index.tsx
  web/src/screens/dashboard/Stats.tsx
  web/src/screens/releases/Filters.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/types/Release.d.ts
Labels: enhancement, web

#1313 enhancement(feeds): change max age default value to 0
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  web/src/forms/settings/FeedForms.tsx
Labels: web, database, feeds, database-migrations

#1277 feat(web): migrate Tanstack Query to v5
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/data-table/Cells.tsx
  web/src/components/header/Header.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/screens/Logs.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/dashboard/Stats.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/filters/sections/Actions.tsx
  web/src/screens/releases/Filters.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Logs.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/Releases.tsx
Labels: web, dependencies

#1212 fix(filters): do not split commas inside valid Regexp
  go.mod
  go.sum
  internal/domain/filter.go
  internal/domain/filter_test.go
Labels: web, backend, filters

#1265 builds(ci): containers build additional architectures
  .github/workflows/release.yml
  Dockerfile
  ci.Dockerfile
Labels: docker, build, ci

#1318 fix(filters): hide tooltip when actions are active
  web/src/screens/filters/List.tsx
Labels: bug, web, actions, releases

#1315 feat(actions): qBittorrent add priority handling
  go.mod
  go.sum
  internal/action/qbittorrent.go
  internal/database/action.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/action.go
  web/src/domain/constants.ts
  web/src/screens/filters/sections/Actions.tsx
  web/src/screens/filters/sections/action_components/ActionQBittorrent.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, actions, database, qBittorrent, database-migrations

#1285 refactor(filters): checkMaxDownloads
  internal/domain/filter.go
Labels: backend, filters

#1295 feat(auth): change password and username
  cmd/autobrrctl/main.go
  internal/auth/service.go
  internal/database/user.go
  internal/database/user_test.go
  internal/domain/user.go
  internal/http/auth.go
  internal/http/server.go
  internal/user/service.go
  web/src/api/APIClient.ts
  web/src/components/header/RightNav.tsx
  web/src/components/inputs/input.tsx
  web/src/domain/routes.tsx
  web/src/screens/Settings.tsx
  web/src/screens/settings/Account.tsx
  web/src/screens/settings/_components.tsx
  web/src/screens/settings/index.ts
  web/src/types/API.d.ts
Labels: web, backend, auth

#934 feat(autobrrctl): add db migrate/seed/reset functionality
  cmd/autobrrctl/main.go
  internal/database/tools/convert.go
  internal/database/tools/seed.go
Labels: enhancement, database, postgres

#1321 feat(actions): deluge v2 add skip recheck
  go.mod
  go.sum
  internal/action/deluge.go
  web/src/screens/filters/sections/action_components/ActionDeluge.tsx
Labels: web, backend, actions, deluge

#1288 refactor(http): implement shared transport and clients
  internal/action/run.go
  internal/action/service.go
  internal/client/http.go
  internal/domain/release.go
  internal/feed/client.go
  internal/filter/service.go
  internal/http/auth_test.go
  internal/indexer/api.go
  internal/mock/indexer_api.go
  internal/notification/discord.go
  internal/notification/gotify.go
  internal/notification/lunasea.go
  internal/notification/notifiarr.go
  internal/notification/pushover.go
  internal/notification/telegram.go
  pkg/btn/btn_test.go
  pkg/btn/client.go
  pkg/ggn/ggn.go
  pkg/ggn/ggn_test.go
  pkg/jsonrpc/jsonrpc.go
  pkg/lidarr/client.go
  pkg/lidarr/lidarr.go
  pkg/lidarr/lidarr_test.go
  pkg/newznab/newznab.go
  pkg/ops/ops.go
  pkg/ops/ops_test.go
  pkg/porla/client.go
  pkg/ptp/ptp.go
  pkg/ptp/ptp_test.go
  pkg/radarr/client.go
  pkg/radarr/radarr.go
  pkg/radarr/radarr_test.go
  pkg/readarr/client.go
  pkg/readarr/readarr.go
  pkg/readarr/readarr_test.go
  pkg/red/red.go
  pkg/red/red_test.go
  pkg/sabnzbd/sabnzbd.go
  pkg/sharedhttp/http.go
  pkg/sonarr/client.go
  pkg/sonarr/sonarr.go
  pkg/sonarr/sonarr_test.go
  pkg/torznab/torznab.go
  pkg/torznab/torznab_test.go
  pkg/transmission/transmission.go
  pkg/version/version.go
  pkg/whisparr/whisparr.go
  test/docs/docs_test.go
Labels: backend, api, optimization

#1323 feat(notifications): add ntfy support
  internal/domain/notification.go
  internal/http/auth_test.go
  internal/notification/message_builder.go
  internal/notification/ntfy.go
  internal/notification/service.go
  web/src/domain/constants.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/_components.tsx
  web/src/types/Notification.d.ts
Labels: web, backend, notifications

#1326 feat(notifications): add Shoutrrr support
  go.mod
  go.sum
  internal/domain/notification.go
  internal/notification/service.go
  internal/notification/shoutrrr.go
  web/src/domain/constants.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/types/Notification.d.ts
Labels: web, backend, notifications

#1329 enhancement(web): force run feed with enter key
  web/src/components/modals/index.tsx
Labels: web, feeds

#1325 fix(filters): ensure sort by priority
  internal/database/filter.go
  internal/database/filter_test.go
  pkg/cmp/cmp.go
Labels: backend, filters, database, testing

#1331 build(ci): change goreleaser back to ubuntu runner
  .github/workflows/release.yml
Labels: build, ci, github_actions
