Repository autobrr/autobrr, pull requests merged in 2023-10, with the labels that each got.

#1154 fix(web): tooltips
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/ExternalLink.tsx
  web/src/components/alerts/ErrorPage.tsx
  web/src/components/alerts/NotFound.tsx
  web/src/components/data-table/Cells.tsx
  web/src/components/header/Header.tsx
  web/src/components/header/LeftNav.tsx
  web/src/components/inputs/common.tsx
  web/src/components/inputs/input.tsx
  web/src/components/inputs/input_wide.tsx
  web/src/components/inputs/select.tsx
  web/src/components/inputs/select_wide.tsx
  web/src/components/inputs/switch.tsx
  web/src/components/tooltips/CustomTooltip.css
  web/src/components/tooltips/CustomTooltip.tsx
  web/src/components/tooltips/DocsTooltip.tsx
  web/src/components/tooltips/Tooltip.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/index.tsx
  web/src/screens/Releases.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/filters/Action.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/External.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/releases/Filters.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/Feed.tsx
Labels: bug, documentation, web

#1153 fix(indexers): NBL irc announce regex
  internal/indexer/definitions/nebulance.yaml
Labels: backend, indexers, irc, definitions

#1162 feat(feeds): improve file size parsing
  internal/feed/rss.go
  internal/feed/rss_test.go
Labels: enhancement, backend, releases, feeds

#1165 fix(indexers): pbay regex pattern
  internal/indexer/definitions/pbay.yaml
Labels: bug, indexers, definitions

#1164 fix(indexes): toggle on and off with switch
  internal/database/indexer.go
  internal/domain/indexer.go
  internal/http/indexer.go
  internal/indexer/service.go
  web/src/api/APIClient.ts
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Irc.tsx
Labels: web, indexers, settings

#1178 fix(web): actions tooltip links
  web/src/screens/filters/Action.tsx
Labels: documentation, web

#1180 feat(notifications): Add Gotify
  internal/database/notification.go
  internal/domain/notification.go
  internal/notification/gotify.go
  internal/notification/service.go
  web/src/domain/constants.ts
  web/src/forms/settings/NotificationForms.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/types/Notification.d.ts
Labels: web, backend, settings, notifications

#1179 fix(indexers): pbay announce bot name
  internal/indexer/definitions/pbay.yaml
Labels: indexers, definitions

#1170 feat(indexers): SubsPlease parse title
  internal/indexer/definitions/subsplease.yaml
Labels: indexers, definitions

#1185 feat(indexers): remove closed indexer (PTN)
  internal/indexer/definitions/ptn.yaml
Labels: indexers, definitions

#1181 fix(releases): search with postgres
  internal/database/release.go
  internal/domain/release.go
  internal/http/release.go
Labels: bug, backend, releases, database, api, postgres

#1195 feat(indexers): PTP support freeleech
  internal/indexer/definitions/ptp.yaml
Labels: backend, indexers, irc, filters, definitions

#1198 feat(web): disable 1password prompts
  web/src/components/inputs/input_wide.tsx
Labels: enhancement, web

#1191 feat(feeds): improve caching
  internal/database/feed_cache.go
  internal/database/sqlite.go
  internal/domain/feed.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/torznab.go
Labels: backend, database, feeds, sqlite

#1201 fix(clients): qBittorrent reject stalled reannounce
  go.mod
  go.sum
  internal/action/qbittorrent.go
Labels: backend, Download client, actions

#1205 fix(indexers): TorrentSeeds remove nickserv fields
  internal/indexer/definitions/torrentseeds.yaml
Labels: indexers, irc, definitions

#1200 fix(clients): qBittorrent rules ignore slow
  internal/action/qbittorrent.go
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/types/Download.d.ts
Labels: web, backend, Download client, settings

#1204 feat(clients): Transmission set label
  internal/action/transmission.go
  web/src/screens/filters/Action.tsx
Labels: web, backend, Download client, actions, Transmission

#1209 feat(indexers): add TheOldSchool
  internal/indexer/definitions/theoldschool.yaml
Labels: backend, indexers, irc, definitions

#1210 chore(docs): update README.md
  README.md
Labels: documentation

#1199 docs(definitions): MAM clarify cookie usage
  internal/indexer/definitions/myanonamouse.yaml
Labels: indexers, definitions

#1208 build(deps): bump npm packages
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, javascript

#1216 feat(indexers): BHD freeleech announces
  internal/domain/release.go
  internal/indexer/definitions/beyondhd.yaml
Labels: indexers, definitions

#1218 fix(indexers): BTN api handle errors
  pkg/btn/btn.go
Labels: backend, indexers, indexer-api

#1220 feat(web): disable IRC fields
  web/src/forms/settings/IrcForms.tsx
Labels: web, irc

#1206 feat(filters): external webhook retry on status codes
  go.mod
  go.sum
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/filter/service.go
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/External.tsx
  web/src/screens/filters/List.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, filters, database, api

#1217 chore(deps): update go-qbittorrent to v1.7.1
  go.mod
  go.sum
Labels: backend, Download client, external bug, dependencies, qBittorrent

#1221 fix(database): migrations filter_external
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
Labels: backend, filters, database, postgres, sqlite, database-migrations

#1222 fix(indexers): Capitalize TheOldSchool
  internal/indexer/definitions/theoldschool.yaml
Labels: indexers, irc, definitions

#1188 feat(logs): sanitize basic auth in urls
  internal/http/logs.go
  internal/http/logs_sanitize_test.go
Labels: backend, api, logs

#1225 feat(settings): hide empty fields
  web/src/screens/settings/Application.tsx
Labels: web, cosmetic

#1230 fix(feeds): feed cache key
  internal/feed/rss.go
Labels: backend, feeds, rss

#1227 fix(filters): external webhooks improve defaults
  go.mod
  go.sum
  internal/filter/service.go
Labels: backend, filters

#1226 build(deps): bump rls to v0.5.10
  go.mod
  go.sum
Labels: backend, dependencies

#1219 fix(config): prevent overwriting default logPath
  internal/config/config.go
Labels: backend, config

#1232 feat(indexers): add ABNormal
  internal/indexer/definitions/abnormal.yaml
Labels: backend, indexers, irc, definitions

#1211 feat(clients): Transmission support seedtime and ratiolimit
  go.mod
  go.sum
  internal/action/transmission.go
  internal/download_client/connection.go
  pkg/transmission/transmission.go
  web/src/screens/filters/Action.tsx
Labels: web, backend, Download client, actions, Transmission
