Repository autobrr/autobrr, pull requests merged in 2023-05, with the labels that each got.

#893 fix(notifications): always verify Telegram certificate
  internal/notification/telegram.go
Labels: backend, notifications

#895 chore(web): Sabnzbd -> SABnzbd
  web/src/domain/constants.ts
  web/src/forms/settings/DownloadClientForms.tsx
Labels: web

#892 fix(auth): invalid session error
  .gitignore
  internal/http/auth.go
Labels: bug, backend, api

#890 feat(filters): add form validation
  web/package.json
  web/src/components/inputs/select.tsx
  web/src/screens/filters/action.tsx
  web/src/screens/filters/details.tsx
  web/yarn.lock
Labels: enhancement, web, filters, actions

#896 build(ci): goreleaser optimize uploads
  .github/workflows/release.yml
Labels: build, ci

#899 fix(web): typo on ActionType enum
  web/src/screens/filters/list.tsx
Labels: web, filters

#900 fix(config): lxc container detection
  internal/config/config.go
Labels: backend

#898 fix(web): PWA asset and route handling
  .dockerignore
  internal/http/server.go
  web/build.go
  web/index.html
  web/manifest.json
  web/public/logo.png
  web/vite.config.ts
Labels: web

#901 fix(filters): max downloads include pending with postgres
  internal/database/filter.go
Labels: backend, filters, releases, database, postgres

#902 fix(webhooks): increase timeout
  internal/action/run.go
  internal/filter/service.go
  test/mockindexer/main.go
Labels: backend, filters, actions

#903 fix(actions): handle non download client actions
  internal/action/run.go
  internal/domain/release.go
Labels: backend, filters, actions, releases

#904 fix(filters): list show status all
  web/src/screens/filters/list.tsx
Labels: web, filters

#906 fix(indexers): xspeeds regex pattern for categories
  internal/indexer/definitions/xspeeds.yaml
Labels: backend, indexers, irc

#905 docs: update Saltbox link
  README.md
Labels: documentation

#907 fix(indexers): xspeeds update passkey help
  internal/indexer/definitions/xspeeds.yaml
Labels: indexers, definitions

#908 enhancement(filters): exclude `tags_match_logic` on export if default value
  web/src/screens/filters/list.tsx
Labels: enhancement

#910 fix(filters): handle empty `tag_match_logic` by defaulting to `ANY`
  internal/domain/filter.go
  internal/domain/filter_test.go
Labels: bug, filters

#912 fix(filters): correct toasts for enabling and disabling filters
  web/src/screens/filters/list.tsx
Labels: bug, web, filters

#911 feat(release): add torrent download link to release table
  web/src/screens/releases/ReleaseTable.tsx
Labels: enhancement, web, releases

#914 feat(downloadclients): rtorrent improve basic auth handling
  go.mod
  go.sum
  internal/action/rtorrent.go
  internal/download_client/connection.go
  web/src/forms/settings/DownloadClientForms.tsx
Labels: web, backend, Download client, actions

#913 enhancement(web): mutation improvements and toast updates
  web/src/components/fields/text.tsx
  web/src/components/notifications/Toast.tsx
  web/src/screens/Logs.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Notifications.tsx
Labels: enhancement, web, cosmetic

#880 feat(releases): improve error handling on torrent download
  internal/domain/release.go
Labels: enhancement, backend, releases

#915 fix(downloadclients): Deluge v1 save path
  go.mod
  go.sum
  internal/action/deluge.go
  internal/download_client/connection.go
Labels: backend, Download client, actions

#916 fix(actions): trim tags categories and save path for qbittorrent
  internal/action/qbittorrent.go
Labels: Download client, filters, actions

#875 enhancement(web): disable freeleech percent when freeleech is toggled
  web/src/screens/filters/details.tsx
Labels: enhancement, web

#918 fix(feeds): process RSS on initial run
  internal/feed/rss.go
Labels: backend, feeds

#523 feat(filters): automatically resizing textareas
  web/package.json
  web/src/components/inputs/input.tsx
  web/src/screens/filters/details.tsx
  web/yarn.lock
Labels: enhancement, web, filters

#894 feat(notification): Telegram add support for topics in groups
  internal/database/notification.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/notification.go
  internal/notification/telegram.go
  web/src/forms/settings/NotificationForms.tsx
  web/src/types/Notification.d.ts
Labels: backend, notifications

#691 feat(config): allow config environment variables
  go.mod
  go.sum
  internal/config/config.go
Labels: backend, docker

#769 fix(irc): restart offline network
  internal/irc/service.go
Labels: backend, irc

#919 chore(build): change to pnpm from yarn
  .github/workflows/release.yml
  Dockerfile
  web/.yarn/releases/yarn-3.2.2.cjs
  web/.yarnrc.yml
  web/README.md
  web/package.json
  web/pnpm-lock.yaml
  web/yarn.lock
Labels: web, build, ci

#921 fix(filters): limit textarea height
  web/src/components/inputs/input.tsx
Labels: enhancement, web, cosmetic

#920 feat(logs): improve log search with regex
  web/src/screens/Logs.tsx
Labels: enhancement, web, irc, logs

#925 docs: update README.md
  README.md
Labels: documentation

#928 fix(indexers): hebits URL parsing
  internal/indexer/definitions/hebits.yaml
Labels: backend, indexers, definitions

#922 feat(filters): add support for feed description
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/feed/rss.go
  internal/feed/rss_test.go
  web/src/screens/filters/details.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, filters, releases, database, feeds

#930 fix(indexers): Hebits infourl
  internal/indexer/definitions/hebits.yaml
Labels: backend, indexers, definitions

#931 chore(build): Use pnpm in Makefile
  .gitignore
  Makefile
Labels: build, ci

#933 fix(auth): too restrictive session handling
  internal/http/auth.go
Labels: bug, backend, api, auth

#937 fix(config): env var prefix clashing in k8s
  internal/config/config.go
Labels: backend

#943 fix(filters): duplicate missing actions
  internal/filter/service.go
Labels: bug, backend, filters, actions

#945 fix(indexers): hebits use full category
  internal/indexer/definitions/hebits.yaml
Labels: indexers, definitions

#948 feat(irc): view announces per channel
  cmd/autobrr/main.go
  go.mod
  go.sum
  internal/database/irc.go
  internal/domain/irc.go
  internal/http/irc.go
  internal/http/server.go
  internal/irc/handler.go
  internal/irc/service.go
  test/mockindexer/irc/handlers.go
  web/src/api/APIClient.ts
  web/src/screens/settings/Irc.tsx
  web/src/types/Irc.d.ts
  web/src/utils/Context.ts
Labels: web, backend, irc

#946 fix(http): set ReadHeaderTimeout to mitigate Slowloris
  internal/http/server.go
Labels: backend, api

#944 feat(indexers): add API support for Orpheus to fetch size
  internal/domain/indexer.go
  internal/filter/service.go
  internal/indexer/api.go
  internal/indexer/definitions/orpheus.yaml
  pkg/ops/ops.go
  pkg/ops/ops_test.go
  pkg/ops/testdata/get_index.json
  pkg/ops/testdata/get_torrent_by_id.json
  pkg/ops/testdata/get_torrent_by_id_not_found.json
Labels: backend, indexers, filters, api, definitions

#935 build(web): use pnpm from corepack
  .github/workflows/release.yml
  Dockerfile
  Makefile
  web/package.json
Labels: build, ci

#924 feat(releases): delete older than x
  internal/database/release.go
  internal/domain/release.go
  internal/http/release.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/screens/settings/Releases.tsx
Labels: web, backend, settings, releases, api

#955 fix(build): missing concat EOL on Dockerfile
  Dockerfile
  ci.Dockerfile
Labels: docker, build, ci

#956 build: goreleaser parallel builds
  .github/workflows/release.yml
  .goreleaser.yml
Labels: build, ci

#954 fix(irc): log only validated messages
  internal/irc/handler.go
Labels: backend, irc, logs

#953 chore(logs): remove warning text saying no scrollback
  web/src/screens/Logs.tsx
Labels: web, logs
