Repository autobrr/autobrr, pull requests merged in 2023-07, with the labels that each got.

#708 feat(transmissionbt): implement reannounce and max active rules
  .goreleaser.yml
  internal/action/transmission.go
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/screens/filters/action.tsx
Labels: web, backend, Download client, actions

#997 fix(logs): release rejections cap line length at 1KB
  internal/domain/release.go
  internal/filter/service.go
  internal/release/service.go
Labels: backend, logs

#1006 feat(http): improve error handling
  internal/http/apikey.go
  internal/http/feed.go
  internal/http/filter.go
  internal/http/indexer.go
  internal/http/irc.go
  internal/http/notification.go
Labels: backend, api

#970 feat(web): use svg logo instead of png
  web/package.json
  web/pnpm-lock.yaml
  web/public/logo.png
  web/public/logo512.png
  web/src/components/alerts/NotFound.tsx
  web/src/logo.png
  web/src/logo.svg
  web/src/screens/Base.tsx
  web/src/screens/auth/login.tsx
  web/src/screens/auth/onboarding.tsx
  web/src/vite-env.d.ts
  web/vite.config.ts
Labels: web, cosmetic

#965 chore(web): add ignore pattern to eslint for the unused-vars rule
  web/.eslintrc.js
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
Labels: web, cosmetic

#989 feat(web): improve irc view
  web/src/index.css
  web/src/screens/settings/Irc.tsx
Labels: web, irc

#1015 fix(indexers): nebulance regex pattern
  internal/indexer/definitions/nebulance.yaml
Labels: indexers, irc, definitions

#1013 fix(indexers): danishbytes update irc
  internal/indexer/definitions/danishbytes.yaml
Labels: indexers, irc, definitions

#1011 fix(web): view button alignment in irc settings
  web/src/screens/settings/Irc.tsx
Labels: web, cosmetic

#994 feat(web): fullscreen view for irc announce logs
  web/src/screens/settings/Irc.tsx
Labels: web

#957 chore(web): relocations and cleanups
  .gitignore
  web/index.html
  web/manifest.json
  web/src/api/APIClient.ts
  web/src/components/data-table/Cells.tsx
  web/src/components/inputs/select.tsx
  web/src/components/inputs/select_wide.tsx
  web/src/components/inputs/switch.tsx
  web/src/components/inputs/text.tsx
  web/src/components/modals/index.tsx
  web/src/components/panels/index.tsx
  web/src/domain/routes.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/index.ts
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/screens/Base.tsx
  web/src/screens/Dashboard.tsx
  web/src/screens/Logs.tsx
  web/src/screens/Releases.tsx
  web/src/screens/Settings.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/auth/Onboarding.tsx
  web/src/screens/auth/index.ts
  web/src/screens/filters/Action.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/filters/index.ts
  web/src/screens/settings/Action.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Logs.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/RegexPlayground.tsx
  web/src/screens/settings/Releases.tsx
  web/src/screens/settings/index.ts
  web/tsconfig.json
  web/vite.config.ts
Labels: web, build

#1017 fix(web): set theme before app loads
  web/index.html
  web/src/utils/Context.ts
Labels: web, cosmetic

#1020 fix(downloadclient): could not delete
  internal/database/download_client.go
Labels: bug, backend, Download client, database, postgres

#1021 fix(filters): could not delete with postgres
  internal/database/postgres_migrate.go
Labels: bug, backend, filters, releases, database, postgres

#993 fix(releases): delete older than X
  internal/database/release.go
  internal/domain/release.go
  internal/http/release.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/screens/settings/Releases.tsx
Labels: backend, releases, database

#1022 fix(releases): bad postgres fk migration
  internal/database/postgres_migrate.go
Labels: backend, releases, database, postgres
