Repository autobrr/autobrr, pull requests merged in 2024-05, with the labels that each got.

#1526 chore(indexers): danishbytes remove unused url
  internal/indexer/definitions/danishbytes.yaml
Labels: indexers, definitions

#1523 feat(auth): improved error handling during login
  web/src/screens/auth/Login.tsx
Labels: enhancement, web, auth

#1522 feat(releases): delete based on age/indexer/status
  internal/database/release.go
  internal/domain/release.go
  internal/http/release.go
  web/src/api/APIClient.ts
  web/src/components/inputs/select.tsx
  web/src/screens/settings/Releases.tsx
Labels: web, backend, database, go

#1532 feat(indexers): update release baseurl on update
  cmd/autobrr/main.go
  internal/database/indexer.go
  internal/database/release.go
  internal/domain/release.go
  internal/indexer/service.go
Labels: backend, releases, database

#1530 fix(web): use absolute paths for router links
  web/package.json
  web/pnpm-lock.yaml
  web/src/routes.tsx
  web/src/screens/Settings.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/releases/ReleaseTable.tsx
Labels: web, filters, settings, releases, dependencies

#1537 fix(indexers): irc baseurl override for links
  internal/domain/indexer.go
Labels: bug, backend, indexers, irc

#1538 refactor(apiclient): simplify query in release delete method
  web/src/api/APIClient.ts
  web/src/types/Release.d.ts
Labels: web, releases

#1534 feat(indexers): add External Identifier to map with ARR indexers
  internal/action/exec_test.go
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  internal/announce/announce.go
  internal/database/feed.go
  internal/database/indexer.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/indexer.go
  internal/domain/indexer_test.go
  internal/domain/macros.go
  internal/domain/macros_test.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/rss_test.go
  internal/feed/torznab.go
  internal/indexer/indexer_test.go
  internal/indexer/service.go
  internal/release/service.go
  web/src/forms/settings/IndexerForms.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/types/Indexer.d.ts
Labels: web, backend, indexers, releases, database, database-migrations, client-arr

#1525 feat(indexers): add HD-Only
  internal/indexer/definitions/hdonly.yaml
Labels: indexers, irc, definitions

#1540 feat(web): add theme toggle to navbar
  web/src/App.tsx
  web/src/components/header/RightNav.tsx
  web/src/utils/Context.ts
Labels: enhancement, web, cosmetic

#1527 fix(auth): cookie expiry and renewal
  internal/http/auth.go
  internal/http/middleware.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/api/APIClient.ts
  web/src/api/QueryClient.tsx
  web/src/components/alerts/ErrorPage.tsx
  web/src/components/header/Header.tsx
  web/src/components/header/RightNav.tsx
  web/src/components/header/_shared.ts
  web/src/routes.tsx
  web/src/screens/Settings.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/auth/Onboarding.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Account.tsx
  web/src/utils/Context.ts
Labels: bug, web, backend, auth, go

#1548 fix(indexers): new IPT announce bot name
  internal/indexer/definitions/iptorrents.yaml
Labels: indexers, irc, definitions

#1544 fix(web): qbittorrent action rules spacing
  web/src/components/inputs/select.tsx
  web/src/screens/filters/sections/action_components/ActionQBittorrent.tsx
Labels: web, cosmetic

#1545 fix(web): responsive account settings
  web/src/screens/settings/Account.tsx
Labels: web, cosmetic

#1546 fix(web): disable autocomplete on APIKeyAddForm and FilterAddForm
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
Labels: web

#1547 fix(web): root pending component placement
  web/src/routes.tsx
Labels: web, cosmetic

#1549 fix(auth): show correct error when providing wrong current password at credential change
  web/src/screens/settings/Account.tsx
Labels: bug, web, settings

#1541 feat(macros): add missing variables
  internal/domain/macros.go
Labels: macros

#1557 fix(rss): use custom client for rss tests
  internal/feed/service.go
Labels: backend, feeds
