Repository autobrr/autobrr, pull requests merged in 2024-02, with the labels that each got.

#1384 fix(filters): drop `actions_enabled_count` from filter export
  web/src/screens/filters/List.tsx
Labels: web, filters

#1388 feat(indexers): add ToonsForMe
  internal/indexer/definitions/toonsforme.yaml
Labels: indexers, definitions

#1394 feat(macros): add Type
  internal/domain/macros.go
  internal/domain/macros_test.go
Labels: backend

#1390 feat(indexers): add BrokenStones
  internal/indexer/definitions/brokenstones.yaml
Labels: indexers, irc, definitions

#1395 fix(indexers): DigitalCore InfoURL
  internal/indexer/definitions/digitalcore.yaml
Labels: indexers, definitions

#1381 feat(irc): add indexer disabled warn log
  internal/announce/announce.go
Labels: backend, irc, logs

#1398 fix(filters): OPS and RED split Artist and Album
  internal/domain/indexer_test.go
  internal/domain/irc.go
  internal/domain/release.go
  internal/indexer/indexer_test.go
Labels: backend, indexers, irc, filters

#1403 fix(indexers): ANT new irc address
  internal/indexer/definitions/ant.yaml
Labels: indexers, irc, definitions

#1404 fix(indexers): NBL new irc address
  internal/indexer/definitions/nebulance.yaml
Labels: indexers, irc, definitions

#1400 enhancement(web): debloat release loading animation
  web/src/screens/releases/ReleaseTable.tsx
Labels: web, releases, cosmetic

#1401 enhancement(web): filters list query loading animation
  web/src/screens/filters/List.tsx
Labels: web, filters

#1396 feat(irc): disable auto chan part when using bouncer
  internal/irc/handler.go
Labels: backend, irc, bouncer

#1405 feat(indexers): add Nyaa
  internal/indexer/definitions/nyaa.yaml
Labels: indexers, irc, definitions

#1407 chore(indexers): remove closed indexer TFM
  internal/indexer/definitions/toonsforme.yaml
Labels: indexers, definitions

#1406 fix(indexers): BrokenStones add auth key to download url
  internal/indexer/definitions/brokenstones.yaml
Labels: indexers, irc, definitions

#1410 docs(installers): update Saltbox instructions
  README.md
Labels: documentation

#1411 fix(web): unify border colors in indexer form
  web/src/components/inputs/common.tsx
Labels: web, cosmetic

#1412 fix(irc): force update ANT and NBL irc server addr
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
Labels: backend, irc, database, database-migrations

#1416 feat(macros): add FilterID
  internal/domain/macros.go
  internal/domain/macros_test.go
Labels: backend, filters, actions, macros

#1423 chore(deps): upgrade to Go v1.22 and deps
  .github/workflows/codeql.yml
  .github/workflows/golang-linter.yml
  .github/workflows/release.yml
  Dockerfile
  ci.Dockerfile
  go.mod
  go.sum
  internal/irc/handler.go
Labels: backend, docker, build, dependencies, github_actions, go

#1422 fix(indexers): PTFiles freeleech parsing
  internal/domain/release.go
Labels: bug, backend, irc, filters, releases

#1425 fix(filters): open used collapsible sections by default
  web/src/screens/filters/sections/Advanced.tsx
Labels: web, filters

#1424 fix(filters): point to the correct docs page anchor for `skipping seasons packs`
  web/src/screens/filters/sections/MoviesAndTV.tsx
Labels: documentation, web, filters, tooltips

#1429 feat(macros): add Tags
  internal/domain/macros.go
  internal/domain/macros_test.go
Labels: backend, filters, actions, macros

#1420 feat(indexers): sanitize user input
  internal/indexer/service.go
  pkg/sanitize/sanitize.go
Labels: backend, indexers, settings

#1343 fix(database): postgresql release timestamps timezone handling
  internal/database/postgres_migrate.go
Labels: database, postgres, database-migrations, timezone

#1434 fix(indexers): AB new irc address
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/animebytes.yaml
Labels: backend, indexers, irc, database, definitions, database-migrations

#1433 feat(indexers): Locadora add internal and tags var
  internal/indexer/definitions/locadora.yaml
Labels: indexers, irc, definitions

#1427 fix(web): make tooltips clickable if touchscreen is present
  web/src/components/tooltips/Tooltip.tsx
Labels: bug, web, accessibility

#1436 docs: update installers
  README.md
Labels: documentation

#1444 fix(irc): allow insecure TLS cipher suites
  internal/irc/handler.go
Labels: irc, external-change

#1441 fix(database): migrations log correct upgrade var version
  internal/database/postgres.go
  internal/database/sqlite.go
Labels: bug, backend, database, database-migrations
