Repository autobrr/autobrr, pull requests merged in 2024-01, with the labels that each got.

#1328 feat(clients): override arr download client by name
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  internal/database/action.go
  internal/database/download_client.go
  internal/database/download_client_test.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/action.go
  internal/domain/client.go
  pkg/lidarr/lidarr.go
  pkg/radarr/radarr.go
  pkg/readarr/readarr.go
  pkg/sonarr/sonarr.go
  pkg/whisparr/whisparr.go
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/screens/filters/sections/Actions.tsx
  web/src/screens/filters/sections/action_components/OtherActions.tsx
  web/src/types/Download.d.ts
  web/src/types/Filter.d.ts
Labels: web, backend, Download client, actions, database-migrations, arr

#1335 fix(notifications): ntfy and shoutrrr enabled check
  internal/notification/ntfy.go
  internal/notification/shoutrrr.go
Labels: backend, notifications

#1337 feat(releases): show details in list view
  internal/database/release.go
  internal/domain/release.go
  web/src/components/data-table/Cells.tsx
  web/src/components/data-table/index.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/types/Release.d.ts
  web/src/utils/index.ts
Labels: web, backend, releases

#1341 build(ci): add Go test summary
  .github/workflows/release.yml
Labels: build, testing, ci, github_actions

#1340 build(ci): disable ghcr push from forks
  .github/workflows/release.yml
Labels: docker, build, ci, github_actions

#1345 docs(filters): explain GetDownloadsByFilterId
  internal/database/filter.go
Labels: documentation, backend, filters

#1342 feat(filters): implement min and max seeders/leechers filtering for Torznab feeds
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/feed/torznab.go
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/_const.ts
  web/src/screens/filters/sections/Advanced.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, filters, database, feeds, database-migrations

#1352 build(docker): do not tag pre-release as latest
  .github/workflows/release.yml
Labels: docker, build, github_actions

#1353 fix(releases): search query
  web/src/api/APIClient.ts
Labels: bug, web, backend, releases, api

#1357 fix(web): irc settings light theme colors
  web/src/screens/settings/Irc.tsx
Labels: web, irc, settings, cosmetic

#1354 build(web): override rollup with wasm-node version
  web/package.json
  web/pnpm-lock.yaml
Labels: web, build, dependencies

#1358 fix(auth): force invalidate invalid session cookies in middleware
  internal/http/auth.go
  internal/http/auth_test.go
  internal/http/middleware.go
  web/src/api/APIClient.ts
Labels: web, backend, api, auth

#1361 feat(mockindexer): support feeds and webhooks
  .gitignore
  test/mockindexer/README.md
  test/mockindexer/irc/client.go
  test/mockindexer/irc/handlers.go
  test/mockindexer/irc/server.go
  test/mockindexer/main.go
Labels: backend, indexers, irc, feeds, testing

#1362 fix(notifications): Pushover and Telegram formatting
  internal/notification/gotify.go
  internal/notification/lunasea.go
  internal/notification/message_builder.go
  internal/notification/message_builder_test.go
  internal/notification/ntfy.go
  internal/notification/pushover.go
  internal/notification/shoutrrr.go
  internal/notification/telegram.go
Labels: backend, notifications

#1368 docs: add contribution guide
  CONTRIBUTING.md
  README.md
Labels: documentation

#1366 feat(indexers): GGn improve release name parsing
  internal/announce/announce.go
  internal/announce/announce_test.go
  internal/domain/indexer.go
  internal/domain/indexer_test.go
  internal/domain/irc.go
Labels: backend, indexers, irc, releases, definitions

#1367 feat(feeds): improve RSS size parsing
  internal/feed/rss.go
  internal/feed/rss_test.go
Labels: backend, releases, feeds

#1363 feat(indexers): add TorrentSeeds Music
  internal/indexer/definitions/torrentseeds-music.yaml
Labels: definitions

#1365 build(github): remove hard coded autobrr/autobrr
  .github/workflows/release.yml
Labels: docker, build, ci, github_actions

#1373 fix(filters): RED and OPS lossless parsing and filtering
  internal/domain/filter.go
  internal/domain/filter_test.go
  internal/domain/indexer.go
  internal/domain/indexer_test.go
  internal/domain/irc.go
  internal/domain/release.go
  internal/domain/release_download_test.go
  internal/domain/release_test.go
  internal/domain/releasetags.go
  internal/domain/releasetags_test.go
  internal/feed/rss_test.go
  internal/indexer/definitions/orpheus.yaml
  internal/indexer/definitions/red.yaml
  internal/indexer/indexer_test.go
  internal/indexer/service.go
Labels: bug, backend, indexers, irc, filters, releases, definitions
