Repository autobrr/autobrr, pull requests merged in 2024-10, with the labels that each got.

#1751 feat(filters): sort by created and updated
  internal/http/filter.go
  web/src/screens/filters/List.tsx
Labels: web, backend, filters, database

#1754 fix(notifications): disable notification and events have no effect
  internal/database/notification.go
  internal/database/notification_test.go
  internal/domain/notification.go
  internal/http/notification.go
  internal/notification/discord.go
  internal/notification/gotify.go
  internal/notification/lunasea.go
  internal/notification/notifiarr.go
  internal/notification/ntfy.go
  internal/notification/pushover.go
  internal/notification/service.go
  internal/notification/shoutrrr.go
  internal/notification/telegram.go
Labels: bug, backend, notifications

#1749 feat(downloads): handle http status 429 rate-limit retry
  internal/releasedownload/download_service.go
Labels: backend, releases, feeds:rss

#1747 feat(wildcard): fast-path some cases
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: backend, filters, optimization

#1739 fix(filters): release download counts
  internal/database/filter.go
  internal/database/filter_test.go
Labels: backend, filters, releases, database, database:postgres, database:sqlite

#1758 fix(wildcard): check name length
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: bug, backend, filters

#1757 fix(build): do not create flat tarball for web-dist
  .github/workflows/release.yml
Labels: web, build, ci, github_actions

#1760 build(deps): bump autobrr/go-qbittorrent to v1.10.0
  go.mod
  go.sum
Labels: backend, Download client, dependencies, Download Client: qBittorrent

#1764 fix(indexers): update Fuzer IRC addr
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/fuzer.yaml
Labels: bug, indexers, definitions, indexers:irc

#1772 fix(indexers): OPS API test function
  pkg/ops/ops.go
Labels: backend, indexers, indexer-api, indexers:orpheus

#1771 fix(indexers): PTP API test function
  pkg/ptp/ptp.go
  pkg/ptp/ptp_test.go
  pkg/ptp/testdata/ptp_get_torrent_by_id.json
Labels: backend, indexers, indexer-api

#1775 chore(build): update workflows and `go.mod` to use latest patch version of Go
  .github/workflows/codeql.yml
  .github/workflows/golang-linter.yml
  .github/workflows/release.yml
  go.mod
Labels: build, ci, github_actions, go

#1774 fix(web): remove unnecessary link to Logs
  web/src/screens/settings/Logs.tsx
Labels: web

#1773 fix(config): log reload message once
  internal/config/config.go
Labels: backend, config

#1765 fix(wildcard): partial match ignoring consumed pattern
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: backend, filters, pkg/wildcard

#1761 feat(download-client): add label to Deluge if it does not exist
  internal/action/deluge.go
Labels: backend, Download client, actions, Download Client: Deluge

#1776 feat(filters): improve rejection handling
  internal/domain/filter.go
  internal/domain/filter_test.go
  internal/domain/rejections.go
  internal/domain/rejections_test.go
  internal/domain/release.go
  internal/filter/service.go
  internal/indexer/indexer_test.go
  internal/release/service.go
Labels: backend, filters

#1780 fix(wildcard): match on multi-line data
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: backend, filters, pkg/wildcard

#1782 fix(downloads): handle panic in error check
  internal/releasedownload/download_service.go
Labels: backend, filters, actions

#1783 fix(filters): lint warning variable naming
  internal/domain/filter.go
Labels: backend

#1777 feat(http): set ResponseHeaderTimeout
  pkg/sharedhttp/http.go
Labels: backend, go

#1784 fix(filters): trim user input
  internal/domain/filter.go
Labels: backend, filters

#1788 fix(indexer): update suggested nick format for FearNoPeer IRC
  internal/indexer/definitions/fearnopeer.yaml
Labels: indexers, irc, definitions, indexers:irc

#1790 feat(indexers): DigitalCore parse Tags and Genre
  internal/indexer/definitions/digitalcore.yaml
Labels: indexers, definitions, indexers:irc
