Repository autobrr/autobrr, pull requests merged in 2024-08, with the labels that each got.

#1600 fix(web): filter dropdown cut off
  web/src/screens/filters/List.tsx
Labels: web, filters, accessibility

#1601 fix(web): root pending component placement
  web/src/routes.tsx
Labels: web, cosmetic

#1612 fix(releases): retry action missing external indexer identifier
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  internal/database/indexer.go
  internal/domain/indexer.go
  internal/indexer/service.go
  internal/release/service.go
Labels: backend, actions, releases, client-arr

#1615 fix(docker): update deprecated LABEL format
  Dockerfile
  ci.Dockerfile
  goreleaser.Dockerfile
Labels: docker, build, ci

#1617 feat(indexers): add SATClubbing
  internal/indexer/definitions/satclubbing.yaml
Labels: indexers, irc, definitions

#1580 refactor(web): update deprecated HeadlessUI v2 components
  web/src/components/Checkbox.tsx
  web/src/components/header/Header.tsx
  web/src/components/header/MobileNav.tsx
  web/src/components/header/RightNav.tsx
  web/src/components/inputs/input_wide.tsx
  web/src/components/inputs/radio.tsx
  web/src/components/inputs/select.tsx
  web/src/components/inputs/switch.tsx
  web/src/screens/Logs.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/releases/ReleaseFilters.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
Labels: web, external-change

#1581 refactor(web): rename custom components
  web/src/components/data-table/Buttons.tsx
  web/src/components/data-table/index.tsx
  web/src/components/inputs/input_wide.tsx
  web/src/screens/filters/sections/Actions.tsx
  web/src/screens/filters/sections/Advanced.tsx
  web/src/screens/filters/sections/External.tsx
  web/src/screens/filters/sections/General.tsx
  web/src/screens/filters/sections/MoviesAndTV.tsx
  web/src/screens/filters/sections/Music.tsx
  web/src/screens/filters/sections/_components.tsx
  web/src/screens/filters/sections/action_components/ActionDeluge.tsx
  web/src/screens/filters/sections/action_components/ActionPorla.tsx
  web/src/screens/filters/sections/action_components/ActionQBittorrent.tsx
  web/src/screens/filters/sections/action_components/ActionRTorrent.tsx
  web/src/screens/filters/sections/action_components/ActionTransmission.tsx
  web/src/screens/filters/sections/action_components/OtherActions.tsx
  web/src/screens/releases/ReleaseTable.tsx
Labels: web

#1618 feat(filters): add validation for max downloads unit
  web/src/screens/filters/Details.tsx
Labels: web, filters

#1619 fix(feeds): implement staggered start
  internal/feed/service.go
Labels: backend, feeds, sqlite, optimization

#1620 feat(indexers): add iNSANE
  internal/indexer/definitions/insane.yaml
Labels: indexers, irc, definitions

#1621 feat(indexers): HD-Only add size
  internal/indexer/definitions/hdonly.yaml
Labels: indexers, irc, definitions

#1625 feat(indexers): add SeedPool
  internal/indexer/definitions/seedpool.yaml
Labels: indexers, irc, definitions

#1628 fix(indexers): adapt TheOldSchool regex
  internal/indexer/definitions/theoldschool.yaml
Labels: indexers, irc, definitions

#1629 fix(indexers): HD-Only `torrenturl`
  internal/indexer/definitions/hdonly.yaml
Labels: indexers, irc, definitions, indexers:irc

#1630 fix(indexers): SATClubbing download url
  internal/indexer/definitions/satclubbing.yaml
Labels: bug, indexers, definitions, indexers:irc

#1627 feat(diagnostics): add pprof profiling
  cmd/autobrr/main.go
  internal/config/config.go
  internal/diagnostics/profiling.go
  internal/domain/config.go
Labels: backend, api, testing, optimization

#1626 fix(actions): reject if client is disabled
  cmd/autobrr/main.go
  internal/action/deluge.go
  internal/action/lidarr.go
  internal/action/porla.go
  internal/action/qbittorrent.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/rtorrent.go
  internal/action/run.go
  internal/action/sabnzbd.go
  internal/action/service.go
  internal/action/sonarr.go
  internal/action/transmission.go
  internal/action/whisparr.go
  internal/database/action.go
  internal/database/action_test.go
  internal/database/download_client.go
  internal/database/download_client_test.go
  internal/database/filter.go
  internal/database/filter_test.go
  internal/database/release_test.go
  internal/domain/action.go
  internal/domain/client.go
  internal/domain/client_test.go
  internal/download_client/cache.go
  internal/download_client/service.go
  internal/filter/service.go
  internal/http/download_client.go
  internal/release/service.go
  pkg/transmission/transmission.go
Labels: backend, Download client, actions, database

#1632 refactor(http): api key cache handling
  internal/api/service.go
  internal/database/api.go
  internal/database/api_test.go
  internal/domain/api.go
  internal/http/apikey.go
  internal/http/encoder.go
Labels: backend, api, auth

#1604 refactor(http): implement bufio
  internal/action/porla.go
  internal/domain/notification.go
  internal/domain/release.go
  internal/filter/service.go
  internal/notification/discord.go
  internal/notification/gotify.go
  internal/notification/lunasea.go
  internal/notification/notifiarr.go
  internal/notification/ntfy.go
  internal/notification/pushover.go
  internal/notification/service.go
  internal/notification/shoutrrr.go
  internal/notification/telegram.go
  pkg/ggn/ggn.go
  pkg/ggn/ggn_test.go
  pkg/ops/ops.go
  pkg/ptp/ptp.go
  pkg/ptp/ptp_test.go
  pkg/red/red.go
  pkg/sabnzbd/sabnzbd.go
  pkg/whisparr/whisparr.go
  web/build.go
Labels: backend, go, optimization

#1635 feat(http): implement missing findByID methods
  internal/api/service.go
  internal/database/feed.go
  internal/database/release.go
  internal/http/action.go
  internal/http/apikey.go
  internal/http/download_client.go
  internal/http/encoder.go
  internal/http/feed.go
  internal/http/filter.go
  internal/http/indexer.go
  internal/http/irc.go
  internal/http/logs.go
  internal/http/notification.go
  internal/http/release.go
  internal/notification/service.go
Labels: backend, api

#1636 refactor(logs): move sanitize
  internal/http/logs.go
  internal/logger/sanitize.go
  internal/logger/sanitize_test.go
Labels: backend, logs, logs:sanitize

#1637 fix(diagnostics): profiling config flags
  internal/config/config.go
  internal/diagnostics/profiling.go
  internal/domain/config.go
Labels: backend, config, profiling
