Repository autobrr/autobrr, pull requests merged in 2024-04, with the labels that each got.

#1484 feat(indexers): add KeepFRDS
  internal/indexer/definitions/keepfrds.yaml
Labels: indexers, irc, definitions

#1482 feat(indexers): Nyaa add trusted, remake and batch tags
  internal/indexer/definitions/nyaa.yaml
Labels: indexers, definitions

#1489 fix(indexers): STC parse resolution
  internal/indexer/definitions/skipthecommericals.yaml
Labels: indexers, irc, definitions

#1490 feat(web): auto refresh dashboard stats
  web/src/api/queries.ts
Labels: web, releases

#1493 feat(macros): add Artists
  internal/domain/macros.go
  internal/domain/macros_test.go
Labels: backend, filters, actions, macros

#1501 feat(filters): validate existence of external exec cmd
  internal/domain/filter.go
  internal/filter/service.go
  pkg/sanitize/sanitize.go
Labels: backend, filters

#1504 fix(logger): properly SetGlobalLevel on all levels
  internal/logger/logger.go
Labels: bug, backend, logs, config

#1506 build(deps): bump rls to v0.5.12
  go.mod
  go.sum
Labels: backend, dependencies

#1509 feat(releases): replace misc info in incognito mode
  web/src/screens/releases/ReleaseTable.tsx
Labels: web, releases

#1508 feat(notifications): add support for custom Telegram api url
  internal/notification/telegram.go
  web/src/forms/settings/NotificationForms.tsx
Labels: backend, notifications

#1511 feat(macros): add `IndexerName`
  internal/action/exec.go
  internal/action/exec_test.go
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/run.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  internal/announce/announce.go
  internal/database/feed.go
  internal/database/indexer.go
  internal/database/release.go
  internal/database/release_test.go
  internal/domain/feed.go
  internal/domain/indexer.go
  internal/domain/indexer_test.go
  internal/domain/macros.go
  internal/domain/macros_test.go
  internal/domain/release.go
  internal/domain/release_download_test.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/rss_test.go
  internal/feed/service.go
  internal/feed/torznab.go
  internal/filter/service.go
  internal/indexer/indexer_test.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/components/data-table/Cells.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/screens/settings/Feed.tsx
  web/src/types/Feed.d.ts
  web/src/types/Indexer.d.ts
  web/src/types/Release.d.ts
Labels: web, backend, filters, releases, macros

#1515 chore: bump pnpm to 9.0.2
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies

#1512 chore: add missing license headers
  web/src/api/query_keys.ts
  web/src/components/ExternalLink.tsx
Labels: web

#1514 fix(feeds): parse magnet URI from enclosure
  internal/feed/rss.go
  internal/feed/rss_test.go
Labels: backend, feeds

#1465 chore(database): remove unused test func
  internal/database/database_test.go
Labels: backend, database

#1518 docs: add macos homebrew installation
  README.md
Labels: documentation

#1505 fix(filters): export not working with Safari
  web/src/screens/filters/List.tsx
  web/src/utils/index.ts
Labels: bug, web, filters, external bug
