Repository autobrr/autobrr, pull requests merged in 2024-09, with the labels that each got.

#1639 chore(deps): update Go to `1.23` and Node to `20.17.0`
  .github/workflows/release.yml
  Dockerfile
  ci.Dockerfile
  go.mod
  go.sum
Labels: docker, build, dependencies, github_actions, go, javascript

#1638 fix(web): remove unused `checkForUpdates` JSON object
  web/src/utils/Context.ts
Labels: web, config

#1421 feat: add support for proxies to use with IRC and Indexers
  cmd/autobrr/main.go
  internal/action/deluge.go
  internal/action/porla.go
  internal/action/qbittorrent.go
  internal/action/rtorrent.go
  internal/action/run.go
  internal/action/service.go
  internal/action/transmission.go
  internal/database/feed.go
  internal/database/indexer.go
  internal/database/irc.go
  internal/database/postgres_migrate.go
  internal/database/proxy.go
  internal/database/proxy_test.go
  internal/database/sqlite_migrate.go
  internal/database/utils.go
  internal/domain/action.go
  internal/domain/error.go
  internal/domain/feed.go
  internal/domain/indexer.go
  internal/domain/irc.go
  internal/domain/macros.go
  internal/domain/proxy.go
  internal/domain/release.go
  internal/domain/release_download_test.go
  internal/feed/client.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/service.go
  internal/feed/torznab.go
  internal/filter/service.go
  internal/http/feed.go
  internal/http/irc.go
  internal/http/notification.go
  internal/http/proxy.go
  internal/http/server.go
  internal/indexer/service.go
  internal/irc/handler.go
  internal/irc/service.go
  internal/proxy/service.go
  internal/releasedownload/download_service.go
  pkg/newznab/newznab.go
  pkg/torznab/torznab.go
  web/src/api/APIClient.ts
  web/src/api/queries.ts
  web/src/api/query_keys.ts
  web/src/components/inputs/select_wide.tsx
  web/src/components/inputs/switch.tsx
  web/src/domain/constants.ts
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/ProxyForms.tsx
  web/src/routes.tsx
  web/src/screens/Settings.tsx
  web/src/screens/settings/Proxy.tsx
  web/src/screens/settings/index.ts
  web/src/types/Indexer.d.ts
  web/src/types/Irc.d.ts
  web/src/types/Proxy.d.ts
Labels: web, backend, indexers, irc, settings, database, feeds, database:postgres, database:sqlite, database:migrations, proxy

#1634 refactor(wildcard): optimize and add caching
  go.mod
  go.sum
  internal/database/release.go
  internal/domain/filter.go
  internal/domain/irc.go
  internal/domain/releasetags.go
  internal/indexer/parse.go
  internal/notification/lunasea.go
  pkg/newznab/category.go
  pkg/regexcache/regex.go
  pkg/torznab/category.go
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: backend, filters, optimization

#1640 build(docker): add Windows images
  .github/workflows/release.yml
  ciwindows.Dockerfile
Labels: docker, build, ci, os:windows

#1322 feat(irc): allow lazy announcer nicks
  internal/irc/handler.go
Labels: help wanted, backend, irc

#1699 fix(macros): `TorrentHash` empty
  internal/action/run.go
  internal/domain/action.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/filter/service.go
Labels: bug, backend, filters, actions, macros

#1700 ci(linters): update Go and Node versions
  .github/workflows/codeql.yml
  .github/workflows/eslint.yml
  .github/workflows/golang-linter.yml
Labels: build, ci, github_actions, go, javascript, eslint

#1701 fix(feeds): UNIT3D RSS size parsing
  internal/feed/rss.go
Labels: backend, releases, feeds, feeds:rss

#1704 chore: update issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#1706 feat(releases): show indexer name instead of identifier
  internal/database/release.go
  internal/database/release_test.go
  internal/domain/release.go
  internal/http/release.go
  internal/release/service.go
  web/src/components/data-table/Cells.tsx
  web/src/screens/dashboard/ActivityTable.tsx
Labels: web, backend, releases

#1708 chore(indexers): remove STT and STC
  internal/indexer/definitions/skipthecommericals.yaml
  internal/indexer/definitions/skipthetrailers.yaml
Labels: indexers, definitions, indexers:irc

#1707 fix(irc): revert lazy announcer check
  internal/irc/handler.go
Labels: backend, irc

#1710 fix(docker): windows container
  ciwindows.Dockerfile
  internal/config/config.go
Labels: docker, build, os:windows

#1713 feat(web): manage initial focus for force run modal and filter add form
  web/src/components/modals/index.tsx
  web/src/forms/filters/FilterAddForm.tsx
Labels: web, accessibility

#1714 fix(web): irc view mobile optimizations
  web/src/screens/settings/Irc.tsx
Labels: web, cosmetic, accessibility

#1715 chore(tests): correct typos
  internal/domain/release_test.go
Labels: backend, filters, testing

#1718 fix(feeds): start feeds in background
  internal/feed/service.go
Labels: backend, feeds

#1720 feat(releases): show indexer name in indexer filter
  web/src/api/queries.ts
  web/src/screens/releases/ReleaseFilters.tsx
Labels: web, releases

#1723 feat(notifications): Telegram set sender
  internal/domain/notification.go
  internal/notification/message_builder.go
  internal/notification/telegram.go
Labels: backend, notifications

#1717 fix(web): activity/release table cell widths
  web/src/components/data-table/Cells.tsx
Labels: web, releases, cosmetic

#1716 feat(filters): wildcard slice matching optimizations
  internal/domain/filter.go
  internal/domain/filter_test.go
  pkg/regexcache/regex.go
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: backend, filters, optimization

#1729 fix(docs): update feature requests link and swizzin install link
  README.md
Labels: documentation

#1725 fix(web): form slideovers for mobile views
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/forms/settings/ProxyForms.tsx
Labels: bug, web, cosmetic, accessibility

#1724 fix(indexers): new baseURL for Fuzer
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/fuzer.yaml
Labels: indexers, definitions, database:migrations, indexers:irc

#1712 feat(database): add missing filter indexes
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
Labels: backend, database, database:postgres, database:sqlite, database:migrations

#1730 fix(build): run web-dist tarball step for tags only
  .github/workflows/release.yml
Labels: build, ci, github_actions

#1726 feat(notifications): optional Telegram sender
  internal/database/notification.go
  internal/notification/telegram.go
  web/src/forms/settings/NotificationForms.tsx
  web/src/types/Notification.d.ts
Labels: web, backend, database, notifications

#1731 build: upload web-dist to release assets on tag
  .github/workflows/release.yml
Labels: build, ci, github_actions

#1732 feat(indexers): add LustHive
  internal/indexer/definitions/lusthive.yaml
Labels: indexers, definitions, indexers:irc

#1733 fix(sanitize): improve handling for newline tabs etc
  internal/domain/filter.go
  internal/domain/filter_test.go
  pkg/sanitize/sanitize.go
  pkg/sanitize/sanitize_test.go
Labels: backend, filters

#1735 chore(indexers): remove LilleSky
  internal/indexer/definitions/lillesky.yaml
Labels: indexers, definitions, indexers:irc, indexers:deprecation

#1743 fix(downloadclients): do not load Deluge from cache
  internal/action/deluge.go
Labels: bug, backend, Download client, Download Client: Deluge

#1744 fix(downloadclients): arrs change size type to uint64
  internal/action/lidarr.go
  internal/action/radarr.go
  internal/action/readarr.go
  internal/action/sonarr.go
  internal/action/whisparr.go
  pkg/lidarr/client.go
  pkg/lidarr/lidarr.go
  pkg/radarr/client.go
  pkg/radarr/radarr.go
  pkg/readarr/client.go
  pkg/readarr/readarr.go
  pkg/sonarr/client.go
  pkg/sonarr/sonarr.go
  pkg/whisparr/client.go
  pkg/whisparr/whisparr.go
Labels: backend, actions, Download Client: arr
