Repository autobrr/autobrr, pull requests merged in 2024-07, with the labels that each got.

#1584 feat(filters): add SLOVAK language option
  web/src/domain/constants.ts
Labels: web, filters

#1589 feat(config): check pid for container startup
  internal/config/config.go
Labels: backend, config

#1592 fix(indexers): OPS log score parsing
  internal/domain/irc.go
  internal/indexer/indexer_test.go
Labels: backend, indexers, irc

#1591 fix(web): redirect to onboarding
  web/package.json
  web/pnpm-lock.yaml
Labels: bug, web, external-change, external bug, auth

#1598 fix(indexers): FearNoPeer irc regex for music
  internal/indexer/definitions/fearnopeer.yaml
Labels: backend, indexers, irc, definitions
