Repository autobrr/autobrr, pull requests merged in 2024-12, with the labels that each got.

#1854 feat(ci): skip build on misc files
  .github/workflows/release.yml
Labels: build, ci, github_actions

#1859 fix(http): downgrade canOnboard check to warning log level
  internal/http/auth.go
  internal/http/encoder.go
Labels: backend, api, logs

#1851 fix(web): honor baseURL path when logging out
  web/src/components/header/Header.tsx
Labels: bug, web

#1863 feat(macros): add Description
  internal/domain/macros.go
Labels: backend, actions, releases, macros

#1862 feat(web): replace react-portal with own implementation
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/portal/Portal.tsx
  web/src/components/portal/index.ts
Labels: web, dependencies

#1866 feat(web): migrate react-table to v8
  web/package.json
  web/pnpm-lock.yaml
  web/src/api/APIClient.ts
  web/src/api/queries.ts
  web/src/api/query_keys.ts
  web/src/components/data-table/Cells.tsx
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseFilters.tsx
  web/src/screens/releases/ReleaseTable.tsx
Labels: enhancement, web, releases, dependencies

#1837 feat(filters): implement `AnnounceType`
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/release.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/domain/release.go
  internal/feed/rss_test.go
  web/src/domain/constants.ts
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/sections/General.tsx
  web/src/types/Filter.d.ts
  web/src/types/Release.d.ts
Labels: backend, indexers, filters, releases, database, database:postgres, database:sqlite, database:migrations, indexers:irc

#1738 feat(indexers): update PTP announce to new format
  internal/domain/indexer.go
  internal/domain/indexer_test.go
  internal/domain/release.go
  internal/indexer/api.go
  internal/indexer/definitions/ptp.yaml
  web/src/components/data-table/Cells.tsx
Labels: indexers, definitions, indexers:irc

#1873 fix(releases): set freeleech from downloadVolumeFactor
  internal/domain/release.go
Labels: bug, backend, filters, releases, indexers:irc

#1868 fix(web): releases status URL filtering
  web/src/screens/releases/ReleaseTable.tsx
Labels: web

#1872 feat(docs): add indexer docs update script
  .github/workflows/update-indexers.yml
  scripts/update-indexers.py
Labels: documentation, enhancement, definitions

#1874 fix(ci): update indexers workflow with improved path handling
  .github/workflows/update-indexers.yml
  scripts/update-indexers.py
Labels: documentation, ci

#1877 fix(database): SQLite try reindexing on integrity check error
  internal/database/sqlite.go
Labels: backend, database, database:sqlite

#1879 fix(indexers): PrivateSilverScreen freeleech parsing
  internal/indexer/definitions/privatesilverscreen.yaml
Labels: indexers, filters, definitions, indexers:irc

#1880 feat(releases): improve freeleech parsing
  internal/domain/release.go
Labels: backend, releases, indexers:irc

#1348 feat(filters): RED and OPS fetch uploader from API
  internal/domain/filter.go
  internal/domain/rejections.go
  internal/domain/release.go
  internal/feed/rss_test.go
  internal/filter/service.go
  pkg/red/red.go
  pkg/red/red_test.go
  pkg/red/testdata/get_torrent_by_id.json
Labels: backend, indexers, filters, indexer-api

#1822 feat(cache): implement TTLCache and TimeCache
  pkg/regexcache/regex.go
  pkg/timecache/timecache.go
  pkg/timecache/timecache_test.go
  pkg/ttlcache/domain.go
  pkg/ttlcache/expiration.go
  pkg/ttlcache/internal.go
  pkg/ttlcache/ttlcache.go
  pkg/ttlcache/ttlcache_test.go
Labels: backend, optimization, cache

#1298 feat(http): implement proper BaseUrl support to coexist with legacy mode
  config.toml
  internal/config/config.go
  internal/domain/config.go
  internal/http/server.go
  internal/http/web.go
  internal/http/web_legacy.go
  web/build.go
  web/index.html
  web/src/api/APIClient.ts
  web/vite.config.ts
Labels: web, backend, api, baseurl

#1882 fix(web): circular dependencies
  web/src/api/QueryClient.tsx
  web/src/components/header/Header.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/NotFound.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/Logs.tsx
Labels: web, javascript, optimization

#1853 feat(auth): implement auth proxy support with OpenID Connect
  README.md
  config.toml
  go.mod
  go.sum
  internal/auth/oidc.go
  internal/config/config.go
  internal/domain/config.go
  internal/http/auth.go
  pkg/argon2id/argon2id.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/api/APIClient.ts
  web/src/components/header/RightNav.tsx
  web/src/routes.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/auth/Onboarding.tsx
  web/src/screens/settings/Account.tsx
  web/src/screens/settings/_components.tsx
  web/src/utils/Context.ts
Labels: enhancement, web, backend, auth, config, go

#1883 feat(web): vendor react-hot-toast
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/api/QueryClient.tsx
  web/src/components/data-table/Cells.tsx
  web/src/components/fields/text.tsx
  web/src/components/header/Header.tsx
  web/src/components/hot-toast/components/checkmark.tsx
  web/src/components/hot-toast/components/error.tsx
  web/src/components/hot-toast/components/loader.tsx
  web/src/components/hot-toast/components/toast-bar.tsx
  web/src/components/hot-toast/components/toast-icon.tsx
  web/src/components/hot-toast/components/toaster.tsx
  web/src/components/hot-toast/core/store.ts
  web/src/components/hot-toast/core/toast.ts
  web/src/components/hot-toast/core/types.ts
  web/src/components/hot-toast/core/use-toaster.ts
  web/src/components/hot-toast/core/utils.ts
  web/src/components/hot-toast/headless/index.ts
  web/src/components/hot-toast/index.ts
  web/src/components/notifications/Toast.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/forms/settings/ProxyForms.tsx
  web/src/screens/Logs.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/Importer.tsx
  web/src/screens/filters/List.tsx
  web/src/screens/filters/sections/Actions.tsx
  web/src/screens/settings/Account.tsx
  web/src/screens/settings/Api.tsx
  web/src/screens/settings/Application.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Logs.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/Proxy.tsx
  web/src/screens/settings/Releases.tsx
Labels: web, dependencies

#1887 fix(web): feed and IRC menu out of bounce
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Irc.tsx
Labels: bug, web

#1888 fix(http): init oidc handler if enabled
  internal/http/auth.go
Labels: backend, api, auth

#1881 feat(filters): RED and OPS fetch record label from API
  internal/database/filter.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/filter.go
  internal/domain/indexer.go
  internal/domain/macros.go
  internal/domain/release.go
  internal/filter/service.go
  pkg/ops/ops.go
  pkg/ops/ops_test.go
  pkg/red/red.go
  pkg/red/red_test.go
  pkg/red/testdata/get_torrent_by_id.json
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/sections/Music.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, indexers, filters, database:postgres, indexer-api, database:sqlite, database:migrations

#1711 feat(filters): skip duplicates
  .gitignore
  internal/action/service.go
  internal/database/action.go
  internal/database/action_test.go
  internal/database/database.go
  internal/database/filter.go
  internal/database/filter_test.go
  internal/database/postgres_migrate.go
  internal/database/release.go
  internal/database/release_test.go
  internal/database/sqlite_migrate.go
  internal/database/utils.go
  internal/domain/action.go
  internal/domain/filter.go
  internal/domain/macros.go
  internal/domain/macros_test.go
  internal/domain/release.go
  internal/domain/release_download_test.go
  internal/domain/release_test.go
  internal/domain/releasetags.go
  internal/feed/rss_test.go
  internal/filter/service.go
  internal/http/action.go
  internal/http/release.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/api/queries.ts
  web/src/api/query_keys.ts
  web/src/components/inputs/select.tsx
  web/src/forms/_shared.ts
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/FeedForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/forms/settings/ProxyForms.tsx
  web/src/forms/settings/ReleaseForms.tsx
  web/src/screens/filters/Details.tsx
  web/src/screens/filters/sections/General.tsx
  web/src/screens/settings/DownloadClient.tsx
  web/src/screens/settings/Feed.tsx
  web/src/screens/settings/Indexer.tsx
  web/src/screens/settings/Irc.tsx
  web/src/screens/settings/Notifications.tsx
  web/src/screens/settings/Releases.tsx
  web/src/types/Filter.d.ts
  web/src/types/Release.d.ts
Labels: web, backend, filters, actions, releases, database, database:migrations

#1889 fix(indexers): PTP update IRC channel
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/ptp.yaml
Labels: backend, indexers, irc, database, definitions, database:postgres, database:sqlite, database:migrations, indexers:irc

#1890 feat(filters): set default `Announce Type` to `NEW`
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/filter/service.go
Labels: backend, filters, database, database:postgres, database:sqlite, database:migrations

#1891 feat(macros): add `MetaIMDB`
  internal/domain/macros.go
  internal/domain/release.go
Labels: filters, actions, macros

#1892 fix(releases): add null handling for new fields
  internal/database/postgres_migrate.go
  internal/database/release.go
  internal/database/sqlite_migrate.go
  web/src/components/inputs/select.tsx
  web/src/screens/settings/Releases.tsx
Labels: backend, releases, database, database:postgres, database:sqlite, database:migrations

#1897 fix(lists): toggle toast message
  web/src/screens/settings/Lists.tsx
Labels: web, lists

#1901 fix(lists): plaintext only accept URLs
  web/src/forms/settings/ListForms.tsx
Labels: web, lists

#1900 feat(indexers): implement AnimeWorld announce types
  internal/indexer/definitions/animeworld.yaml
Labels: indexers, filters, definitions, indexers:irc

#1904 fix(lists): handle NULL clientID for non-arr lists on Postgres
  internal/database/list.go
Labels: bug, backend, database, database:postgres, lists

#1898 feat(lists): ui enhancements
  web/package.json
  web/src/domain/constants.ts
  web/src/forms/settings/ReleaseForms.tsx
  web/src/screens/settings/Lists.tsx
  web/src/screens/settings/Proxy.tsx
  web/src/screens/settings/Releases.tsx
Labels: web, lists

#1906 fix(database): migrations to update PTP IRC channel
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  web/src/forms/settings/IrcForms.tsx
Labels: bug, backend, database, database:postgres, database:sqlite, database:migrations
