Repository autobrr/autobrr, pull requests merged in 2024-06, with the labels that each got.

#1562 feat(indexers): add FinElite
  internal/indexer/definitions/finelite.yaml
Labels: indexers, irc, definitions

#1558 enhancement(web): return more meaningful error message in toast
  web/src/api/APIClient.ts
Labels: web

#1570 refactor(web): headlessui v2
  web/index.html
  web/package.json
  web/src/components/modals/index.tsx
  web/src/components/panels/index.tsx
  web/src/components/tooltips/Tooltip.tsx
  web/src/forms/filters/FilterAddForm.tsx
  web/src/forms/settings/APIKeyAddForm.tsx
  web/src/forms/settings/DownloadClientForms.tsx
  web/src/forms/settings/IndexerForms.tsx
  web/src/forms/settings/IrcForms.tsx
  web/src/forms/settings/NotificationForms.tsx
  web/src/routes.tsx
  web/src/screens/filters/Importer.tsx
Labels: web, external-change

#1576 feat(indexers): add BitHUmen
  internal/indexer/definitions/bithumen.yaml
Labels: indexers, irc, definitions

#1577 fix(web): tooltip placement
  web/src/components/tooltips/Tooltip.tsx
Labels: web, cosmetic, tooltips

#1578 fix(web): add notification panel
  web/src/forms/settings/NotificationForms.tsx
Labels: bug, web, settings, notifications

#1500 docs(install): distroless docker builds
  README.md
Labels: documentation, docker
