Repository autobrr/autobrr, pull requests merged in 2024-03, with the labels that each got.

#1452 fix(notifications): ntfy.sh Typo in Content-Type header value
  internal/notification/ntfy.go
Labels: bug, backend, notifications

#1448 fix(ci): missing commit hash in docker builds
  .github/workflows/release.yml
Labels: backend, docker, build, ci, github_actions

#1459 feat(indexers): add FearNoPeer
  internal/indexer/definitions/fearnopeer.yaml
Labels: indexers, irc, definitions

#1458 fix(feeds): always upgrade size from RSS description
  internal/feed/rss.go
  internal/feed/rss_test.go
Labels: backend, filters, feeds

#1439 feat(indexers): add Lillesky
  internal/indexer/definitions/lillesky.yaml
Labels: indexers, irc, definitions

#1419 feat(irc): manually re-process announces
  cmd/autobrr/main.go
  internal/domain/irc.go
  internal/domain/release.go
  internal/http/irc.go
  internal/http/release.go
  internal/http/server.go
  internal/indexer/service.go
  internal/irc/handler.go
  internal/irc/service.go
  internal/logger/logger.go
  internal/release/service.go
  web/src/api/APIClient.ts
  web/src/screens/Logs.tsx
  web/src/screens/settings/Irc.tsx
  web/src/types/Irc.d.ts
Labels: web, backend, irc, releases

#1469 fix(backend): do not exit on `GOMAXPROCS` error
  cmd/autobrr/main.go
Labels: backend

#1468 fix(autobrrctl): prevent empty password
  cmd/autobrrctl/main.go
  internal/auth/service.go
Labels: autobrrctl

#1470 feat(filters): add sources and codecs
  internal/domain/release_test.go
  web/src/domain/constants.ts
Labels: web, filters

#1467 feat(indexers): update Hawke-UNO irc auth
  internal/indexer/definitions/huno.yaml
Labels: indexers, irc, definitions

#1464 fix(filters): remove unusable resolution constants
  web/src/domain/constants.ts
Labels: bug, web, filters

#1473 feat(irc): set channel pass on indexer add
  web/src/forms/settings/IndexerForms.tsx
Labels: web, indexers, irc, definitions

#1475 fix(auth): correct redirect on bad session cookie
  web/src/api/QueryClient.tsx
Labels: bug, web, auth, baseurl

#1472 feat(indexers): add AnimeWorld
  internal/indexer/definitions/animeworld.yaml
  web/src/forms/settings/IndexerForms.tsx
Labels: indexers, irc, definitions

#1474 fix(indexers): LilleSky update irc announce parsing
  internal/indexer/definitions/lillesky.yaml
Labels: indexers, irc, definitions

#1476 feat(indexers): BTFiles add channel password field
  internal/indexer/definitions/btfiles.yaml
Labels: indexers, irc, definitions

#1479 fix(indexers): could not create
  web/src/forms/settings/IndexerForms.tsx
Labels: bug, web, indexers, irc
