Repository autobrr/autobrr, pull requests merged in 2024-11, with the labels that each got.

#1806 fix(wildcard): improve short word matching
  pkg/wildcard/match.go
  pkg/wildcard/match_test.go
Labels: backend, filters, macros, pkg/wildcard

#1805 fix(indexers): BTFiles size parsing
  internal/domain/release.go
Labels: backend, filters, releases

#1809 fix(releases): update size after actions run
  internal/database/release.go
  internal/domain/release.go
  internal/release/service.go
Labels: backend, actions, releases

#1808 fix(proxy): add shared transport for proxies
  internal/proxy/service.go
  pkg/sharedhttp/http.go
Labels: backend, indexers, releases, proxy

#1810 fix(indexers): delete feed with indexer
  cmd/autobrr/main.go
  internal/action/run.go
  internal/database/feed.go
  internal/database/feed_test.go
  internal/domain/event.go
  internal/domain/feed.go
  internal/domain/indexer.go
  internal/events/subscribers.go
  internal/feed/service.go
  internal/indexer/service.go
Labels: backend, indexers, feeds

#1811 chore: add missing license headers
  internal/database/tools/convert.go
  internal/database/tools/seed.go
  internal/domain/rejections.go
  internal/domain/rejections_test.go
  internal/indexer/definition_test.go
  internal/indexer/parse.go
  internal/logger/sanitize.go
  internal/notification/lunasea.go
  internal/notification/message_builder.go
  internal/notification/message_builder_test.go
  internal/notification/shoutrrr.go
  internal/releasedownload/download_service.go
  web/src/forms/settings/ProxyForms.tsx
  web/src/screens/settings/Proxy.tsx
Labels: web, backend

#1813 feat(indexers): update SceneHD IRC server
  internal/indexer/definitions/scenehd.yaml
Labels: backend, indexers, definitions, indexers:irc

#1816 feat(indexers): FearNoPeer update IRC server
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/fearnopeer.yaml
Labels: backend, indexers, definitions, indexers:irc

#1819 feat(http): add error logging for API responses
  internal/http/encoder.go
  internal/http/server.go
Labels: enhancement, backend, api, logs

#1812 build(ci): implement PGO
  .github/workflows/release.yml
  .goreleaser.yml
  ci.Dockerfile
  ciwindows.Dockerfile
  cmd/autobrr/main.go
Labels: backend, build, ci, github_actions, optimization, profiling

#1820 fix(releases): parse missing source and misinterpreted group name
  internal/domain/filter.go
  internal/domain/filter_test.go
  internal/domain/release.go
  internal/domain/release_test.go
Labels: backend, filters, releases

#1823 feat(tests): add Parallelization where possible
  internal/action/exec_test.go
  internal/config/config_test.go
  internal/domain/client_test.go
  internal/domain/filter_test.go
  internal/domain/indexer_test.go
  internal/domain/macros_test.go
  internal/domain/rejections_test.go
  internal/domain/releasetags_test.go
  internal/feed/rss_test.go
  internal/http/auth_test.go
  internal/indexer/definition_test.go
  internal/indexer/indexer_test.go
  internal/logger/sanitize_test.go
  internal/notification/message_builder_test.go
  pkg/argon2id/argon2id_test.go
  pkg/sanitize/sanitize_test.go
  pkg/version/version_test.go
  pkg/wildcard/match_test.go
Labels: backend, testing, ci

#1826 feat(ci): add workflow to trigger docs update on release
  .github/workflows/trigger_docs_update.yml
Labels: documentation, ci

#1831 fix(build): Dockerfile windows entrypoint
  ciwindows.Dockerfile
Labels: docker, build, ci, os:windows

#1832 fix(downloadclient): qBittorrent url parse err handling
  internal/domain/client.go
  internal/domain/client_test.go
  internal/download_client/connection.go
  internal/download_client/service.go
Labels: backend, Download client, Download Client: qBittorrent

#1830 feat(indexers): REDACTED update urls
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/red.yaml
  internal/indexer/indexer_test.go
  pkg/red/red.go
Labels: backend, indexers, definitions, indexer-api, indexers:irc

#1835 feat(indexers): update SeedPool IRC announce parsing
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/release.go
  internal/indexer/definitions/seedpool.yaml
Labels: backend, indexers, definitions, indexers:irc

#1838 fix(database): SeedPool migrations
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
Labels: database, database:postgres, database:sqlite, database:migrations

#1840 chore: update .gitignore
  .gitignore
Labels: build, github_actions, optimization

#1841 fix(database): backup on windows bad filename
  internal/database/sqlite.go
Labels: backend, database, database:postgres, database:sqlite, database:migrations, os:windows, dabase:backup

#1843 build(deps): bump indirect cilium/ebpf to v0.16.0
  go.mod
  go.sum
Labels: backend, dependencies

#1846 build: add docs update workflow trigger
  .github/workflows/trigger_docs_update.yml
Labels: documentation, ci, github_actions

#1849 fix(indexers): iPlay RMT update download url
  internal/indexer/definitions/iplay.yaml
Labels: backend, indexers, definitions, indexers:irc

#1844 feat(makefile): add tmux-based dev environment
  Makefile
Labels: Makefile

#1852 feat(indexers): add UploadCX
  internal/indexer/definitions/uploadcx.yaml
Labels: indexers, definitions, indexers:irc
