Repository autobrr/autobrr, pull requests merged in 2025-08, with the labels that each got.

#2133 feat(feeds): torznab parse author
  internal/feed/torznab.go
  pkg/torznab/feed.go
Labels: backend, feeds, feeds:torznab

#2137 fix(versioncheck): ignore pr tags
  pkg/version/version.go
Labels: backend

#2150 fix(feeds): torznab freeleech percent parsing
  internal/database/feed_cache.go
  internal/feed/cleanup.go
  internal/feed/mock.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/rss_test.go
  internal/feed/service.go
  internal/feed/testdata/torznab/caps_response.xml
  internal/feed/testdata/torznab/torznab_response.xml
  internal/feed/torznab.go
  internal/feed/torznab_test.go
  pkg/torznab/feed.go
  pkg/torznab/testdata/torznab_response.xml
  pkg/torznab/torznab_test.go
Labels: bug, backend, feeds, feeds:rss, feeds:torznab

#2151 fix(indexers): update HomieHelpDesk announce format
  internal/indexer/definitions/homiehelpdesk.yaml
Labels: backend, indexers, external-change, definitions, indexers:irc

#2146 build(make): add build/dockerx for cross platform docker builds
  CONTRIBUTING.md
  Makefile
Labels: build

#2158 feat(http): implement session storage in database
  cmd/autobrr/main.go
  go.mod
  go.sum
  internal/database/action.go
  internal/database/api.go
  internal/database/database.go
  internal/database/database_test.go
  internal/database/download_client.go
  internal/database/feed.go
  internal/database/feed_cache.go
  internal/database/filter.go
  internal/database/indexer.go
  internal/database/irc.go
  internal/database/list.go
  internal/database/notification.go
  internal/database/postgres.go
  internal/database/postgres_migrate.go
  internal/database/proxy.go
  internal/database/release.go
  internal/database/release_test.go
  internal/database/sqlite.go
  internal/database/sqlite_migrate.go
  internal/database/user.go
  internal/domain/user.go
  internal/http/auth.go
  internal/http/auth_test.go
  internal/http/health.go
  internal/http/middleware.go
  internal/http/oidc.go
  internal/http/server.go
  pkg/sqlite3store/sqlite3store.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/api/APIClient.ts
  web/src/components/header/Header.tsx
  web/src/components/inputs/text.tsx
  web/src/routes.tsx
  web/src/screens/auth/Login.tsx
Labels: web, backend, database, database:postgres, auth, database:sqlite, database:migrations, auth:oidc
