Repository autobrr/autobrr, pull requests merged in 2025-02, with the labels that each got.

#1956 fix(web): notification form checkboxes
  web/src/forms/settings/NotificationForms.tsx
Labels: bug, web, notifications, accessibility

#1959 fix(web): IRC network status gaps
  web/src/screens/settings/Irc.tsx
Labels: web, irc, cosmetic

#1961 fix(web): border opacities
  web/src/screens/filters/List.tsx
  web/src/screens/releases/ReleaseFilters.tsx
Labels: web, cosmetic

#1964 fix(indexers): fuzer regex pattern
  internal/indexer/definitions/fuzer.yaml
Labels: bug, indexers, definitions, indexers:irc

#1955 refactor(lists): title character filtering
  internal/list/process_list_anilist.go
  internal/list/title.go
  internal/list/title_test.go
Labels: backend, lists

#1969 feat(indexers): add HDB parse Exclusive as tag
  internal/indexer/definitions/hdb.yaml
Labels: indexers, definitions, indexers:irc

#1968 docs(indexers): update MAM cookie help text
  internal/indexer/definitions/myanonamouse.yaml
Labels: documentation, web, indexers, definitions, indexers:irc

#1965 refactor(lists): title variation processing
  internal/list/title.go
  internal/list/title_test.go
Labels: backend, lists
