Repository autobrr/autobrr, pull requests merged in 2025-01, with the labels that each got.

#1917 feat(indexers): remove TSC
  internal/indexer/definitions/tsc.yaml
Labels: definitions

#1918 fix(lists): improve parsing and exclude unwanted characters
  internal/domain/list.go
  internal/http/list.go
  internal/http/webhook.go
  internal/list/process_arr_lidarr.go
  internal/list/process_arr_radarr.go
  internal/list/process_arr_readarr.go
  internal/list/process_arr_sonarr.go
  internal/list/process_list_mdblist.go
  internal/list/process_list_metacritic.go
  internal/list/process_list_plaintext.go
  internal/list/process_list_steam.go
  internal/list/process_list_trakt.go
  internal/list/scheduled_jobs.go
  internal/list/service.go
  internal/list/tags.go
  internal/list/tags_test.go
  internal/list/title.go
  internal/list/title_test.go
Labels: bug, backend, filters, lists

#1922 fix(indexers): Fuzer parse full category
  internal/indexer/definitions/fuzer.yaml
Labels: indexers, definitions, indexers:irc

#1924 fix(web): typos in duplicate release profile settings
  web/src/screens/settings/Releases.tsx
Labels: web, releases, cosmetic

#1925 build(deps): bump autobrr/go-rtorrent to v1.12.0
  go.mod
  go.sum
Labels: backend, dependencies, go

#1933 fix(filters): truncate rejections on debug level
  internal/release/service.go
Labels: backend, filters, logs

#1932 feat(indexers): MAM filter VIP with release tags
  internal/indexer/definitions/myanonamouse.yaml
Labels: backend, indexers, filters, definitions, indexers:irc

#1935 chore(license): update copyright year in headers
  internal/auth/oidc.go
  internal/database/tools/convert.go
  internal/database/tools/seed.go
  internal/domain/rejections.go
  internal/domain/rejections_test.go
  internal/indexer/definition_test.go
  internal/indexer/parse.go
  internal/logger/sanitize.go
  internal/notification/lunasea.go
  internal/notification/message_builder.go
  internal/notification/message_builder_test.go
  internal/notification/shoutrrr.go
  internal/releasedownload/download_service.go
  pkg/arr/lidarr/types.go
  pkg/arr/radarr/types.go
  pkg/arr/readarr/types.go
  pkg/arr/shared.go
  pkg/arr/sonarr/types.go
  pkg/sanitize/sanitize.go
  pkg/sanitize/sanitize_test.go
  pkg/timecache/timecache.go
  pkg/timecache/timecache_test.go
  pkg/transmission/transmission.go
  pkg/ttlcache/domain.go
  pkg/ttlcache/expiration.go
  pkg/ttlcache/internal.go
  pkg/ttlcache/ttlcache.go
  pkg/ttlcache/ttlcache_test.go
  scripts/update-indexers.py
  web/src/forms/settings/ProxyForms.tsx
  web/src/screens/settings/Proxy.tsx
Labels: documentation

#1934 docs: improve freeleech detection in parsing
  scripts/update-indexers.py
Labels: documentation, ci

#1943 chore(indexers): remove PolishSource
  internal/indexer/definitions/polishsource.yaml
Labels: backend, indexers, definitions, indexers:irc, indexers:deprecation

#1942 fix(feeds): handle unicode escaped url characters
  internal/feed/rss.go
  internal/feed/rss_test.go
  pkg/sanitize/sanitize.go
Labels: bug, backend, feeds, feeds:rss

#1940 docs(cli): add manpage
  .goreleaser.yml
  Makefile
  docs/man/autobrr.1
Labels: documentation, build, autobrrctl, cli

#1945 build(make): improve install command
  Makefile
  web/.gitignore
  web/public/.gitkeep
Labels: build

#1930 feat(metrics): add metrics server
  README.md
  cmd/autobrr/main.go
  cmd/autobrrctl/main.go
  config.toml
  go.mod
  go.sum
  internal/config/config.go
  internal/domain/config.go
  internal/http/metrics_server.go
  internal/http/middleware.go
  internal/metrics/collector/feed.go
  internal/metrics/collector/filter.go
  internal/metrics/collector/irc.go
  internal/metrics/collector/list.go
  internal/metrics/collector/release.go
  internal/metrics/metrics.go
Labels: enhancement, backend, api, config, metrics

#1951 fix(notifications): update and list password
  internal/database/notification.go
  web/src/forms/settings/NotificationForms.tsx
  web/src/types/Notification.d.ts
Labels: web, backend, database, notifications

#1908 feat(auth): add option to disable built-in login when using OIDC
  README.md
  config.toml
  internal/auth/oidc.go
  internal/config/config.go
  internal/domain/config.go
  web/src/api/APIClient.ts
  web/src/screens/auth/Login.tsx
Labels: web, backend, auth, config, auth:oidc

#1949 feat(lists): add anilist support
  internal/domain/list.go
  internal/list/process_list_anilist.go
  internal/list/service.go
  internal/list/title.go
  internal/list/title_test.go
  web/src/components/inputs/select_wide.tsx
  web/src/domain/constants.ts
  web/src/forms/settings/ListForms.tsx
  web/src/screens/filters/List.tsx
  web/src/types/List.d.ts
Labels: web, backend, lists
