Repository autobrr/autobrr, pull requests merged in 2025-05, with the labels that each got.

#2052 fix(macros): set HasLog when Log Score is missing in announce
  internal/domain/releasetags.go
  internal/domain/releasetags_test.go
  internal/indexer/indexer_test.go
Labels: bug, backend, filters, releases, macros

#2051 feat(indexers): add XtremeWrestlingTorrents
  internal/indexer/definitions/xwt.yaml
Labels: backend, indexers, definitions, indexers:irc

#1993 feat(filters): add DSD formats to music
  internal/domain/filter.go
  internal/domain/releasetags.go
  internal/domain/releasetags_test.go
  web/src/domain/constants.ts
Labels: web, backend, filters, releases

#2060 build(deps): bump Go to 1.24
  .github/workflows/codeql.yml
  .github/workflows/golang-linter.yml
  .github/workflows/release.yml
  Dockerfile
  ci.Dockerfile
  ciwindows.Dockerfile
  go.mod
  internal/list/process_list_trakt.go
  internal/proxy/service.go
  pkg/jsonrpc/jsonrpc.go
Labels: build, ci, dependencies, github_actions, go

#2042 feat(web): persist releases incognito state
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseTable.tsx
  web/src/utils/Context.ts
  web/src/utils/index.ts
Labels: web, releases

#2061 feat(database): connect postgres via socket and read config from env _FILE secrets
  Dockerfile
  README.md
  config.toml
  docker-compose.yml
  internal/config/config.go
  internal/database/database.go
  internal/database/postgres.go
  internal/database/postgres_test.go
  internal/domain/config.go
Labels: backend, database, config

#2077 feat(indexers): CapybaraBR parse freeleech and internal
  internal/indexer/definitions/capybarabr.yaml
Labels: backend, indexers, definitions, indexers:irc

#2068 fix(web): ensure release table auto-update
  web/src/screens/dashboard/ActivityTable.tsx
  web/src/screens/releases/ReleaseTable.tsx
Labels: bug, web, releases
