Repository autobrr/autobrr, pull requests merged in 2025-06, with the labels that each got.

#2082 build: goreleaser snapshot during pr builds
  .github/workflows/release.yml
Labels: build, ci, github_actions

#2036 feat(lists): add option to skip cleaning of Plaintext data
  internal/database/list.go
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/domain/list.go
  internal/list/process_list_plaintext.go
  web/src/forms/settings/ListForms.tsx
  web/src/types/List.d.ts
Labels: backend, filters, lists

#2078 feat(feeds): optimize existing cache items check
  internal/database/feed_cache.go
  internal/database/feed_cache_test.go
  internal/domain/error.go
  internal/domain/feed.go
  internal/feed/newznab.go
  internal/feed/rss.go
  internal/feed/torznab.go
  internal/release/service.go
Labels: backend, database, feeds, optimization

#2085 feat(indexers): new IRC auth mechanism for RocketHD
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/rocket-hd.yaml
Labels: definitions, database:migrations, indexers:irc

#2096 fix(database): duplicate `skip_clean_sanitize` column
  internal/database/sqlite_migrate.go
Labels: database, database:sqlite, database:migrations

#2107 feat(macros): add Cookie
  internal/domain/macros.go
Labels: backend, macros
