Repository autobrr/autobrr, pull requests merged in 2025-04, with the labels that each got.

#2011 fix(irc): set proxy if use proxy is enabled
  internal/irc/service.go
Labels: bug, backend, irc

#2031 feat(lists): read Plaintext from file on disk
  internal/list/process_list_plaintext.go
  web/src/forms/settings/ListForms.tsx
Labels: backend, lists

#2006 feat(oidc): show profile pic if present
  internal/auth/oidc.go
  internal/http/auth.go
  web/src/api/APIClient.ts
  web/src/components/header/RightNav.tsx
  web/src/routes.tsx
  web/src/screens/auth/Login.tsx
  web/src/screens/settings/Account.tsx
  web/src/utils/Context.ts
Labels: web, cosmetic, auth:oidc

#2028 fix(oidc): fetch claims from Userinfo endpoint
  internal/auth/oidc.go
Labels: backend, auth, auth:oidc

#2034 feat(filters): show disabled indexer warning
  web/src/screens/filters/List.tsx
Labels: enhancement, web

#2039 fix(metrics): irc channel enabled gauge
  internal/metrics/collector/irc.go
Labels: backend, irc, metrics

#2049 feat(macros): implement template cache
  internal/domain/macros.go
  internal/domain/macros_test.go
Labels: enhancement, backend, optimization, macros, cache

#2048 fix(http): change onboarding unavailable log level
  internal/http/auth.go
Labels: backend, auth

#2050 feat(indexers): add HomieHelpDesk
  internal/indexer/definitions/homiehelpdesk.yaml
Labels: indexers, definitions, indexers:irc

#2044 feat(indexers): add T66y
  internal/domain/indexer.go
  internal/domain/indexer_test.go
  internal/domain/release.go
  internal/indexer/definitions/t66y.yaml
Labels: backend, indexers, definitions, indexers:irc
