Repository autobrr/autobrr, pull requests merged in 2025-09, with the labels that each got.

#2170 feat(web): clear logs view
  web/src/screens/Logs.tsx
Labels: web, logs

#2163 feat(http): mask secrets in api responses
  internal/domain/api.go
  internal/domain/client.go
  internal/domain/feed.go
  internal/domain/indexer.go
  internal/domain/irc.go
  internal/domain/list.go
  internal/domain/notification.go
  internal/domain/proxy.go
  internal/domain/user.go
  internal/download_client/service.go
  internal/feed/service.go
  internal/http/irc.go
  internal/indexer/service.go
  internal/irc/service.go
  internal/list/service.go
  internal/notification/service.go
  internal/proxy/service.go
Labels: backend, api

#2165 feat(indexers): DarkPeers parse freeleech
  internal/indexer/definitions/darkpeers.yaml
Labels: indexers, external-change, definitions, indexers:irc

#2166 feat(indexers): update ULCX IRC network address
  internal/database/postgres_migrate.go
  internal/database/sqlite_migrate.go
  internal/indexer/definitions/uploadcx.yaml
Labels: indexers, external-change, definitions, indexers:irc

#2174 feat(indexers): add Fappaizuri
  internal/indexer/definitions/fappaizuri.yaml
Labels: indexers, definitions, indexers:irc

#2176 fix(indexers): SeedPool internal announces
  internal/indexer/definitions/seedpool.yaml
Labels: bug, indexers, definitions, indexers:irc

#2175 fix(web): revert local patched zod-formik-adapter to use package
  web/package.json
  web/pnpm-lock.yaml
  web/src/pkg/zod-formik-adapter/index.ts
  web/src/screens/filters/Details.tsx
Labels: bug, web, filters, external-change, external bug

#2179 feat(indexers): add invite command for Fappaizuri
  internal/indexer/definitions/fappaizuri.yaml
Labels: indexers, definitions, indexers:irc

#2183 fix(indexers): Test API sends key as redacted if saved
  internal/indexer/service.go
Labels: bug, backend, indexers, indexer-api

#2184 fix(downloadclient): Test sends keys as redacted if saved
  internal/domain/client.go
  internal/download_client/service.go
Labels: bug, backend, Download client

#2186 fix(jobs): tmp cleanup user check
  internal/scheduler/jobs.go
  internal/scheduler/ownership.go
  internal/scheduler/ownership_windows.go
Labels: backend, jobs

#2191 fix(irc): Soju bouncer nick check
  internal/irc/handler.go
Labels: backend, irc, irc:bouncer

#2200 docs: update Discord invite links
  .goreleaser.yml
  CONTRIBUTING.md
  README.md
  docs/man/autobrr.1
  web/src/components/alerts/ErrorPage.tsx
  web/src/components/alerts/NotFound.tsx
  web/src/screens/filters/NotFound.tsx
Labels: documentation

#2202 feat(indexers): add Rastastugan
  internal/indexer/definitions/rastastugan.yaml
Labels: backend, indexers, definitions, indexers:irc

#2169 docs: add pull request template
  .github/pull_request_template.md
Labels: documentation, enhancement
