Repository autobrr/autobrr, pull requests merged in 2025-03, with the labels that each got.

#1979 feat(indexers): add new FL mirror
  internal/indexer/definitions/filelist.yaml
Labels: indexers, definitions, indexers:irc

#1978 feat(indexers): add CapybaraBR
  internal/indexer/definitions/capybarabr.yaml
Labels: definitions

#1976 docs(filters): fix tooltips
  web/src/screens/filters/sections/Advanced.tsx
Labels: web, filters

#1973 refactor(config): remove mapstructure from OIDC
  internal/domain/config.go
Labels: config, auth:oidc

#1954 feat(indexers): add NordicQuality
  internal/indexer/definitions/nordicquality.yaml
Labels: indexers, definitions, indexers:irc

#1989 feat(indexers): add DarkPeers
  internal/indexer/definitions/darkpeers.yaml
Labels: indexers, definitions, indexers:irc

#1998 feat(indexers): add RocketHD
  internal/indexer/definitions/rocket-hd.yaml
Labels: backend, indexers, definitions, indexers:irc

#1996 feat(indexers): add PhoenixProject
  internal/indexer/definitions/phoenixproject.yaml
Labels: backend, indexers, definitions, indexers:irc

#2001 feat(filters): show current download count in list
  internal/database/filter.go
  internal/domain/filter.go
  internal/filter/service.go
  web/src/screens/filters/List.tsx
  web/src/types/Filter.d.ts
Labels: web, backend, filters, database

#2007 chore(indexers): remove lusthive
  internal/indexer/definitions/lusthive.yaml
Labels: indexers, definitions, indexers:deprecation
